*{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

html, body, p, ul{
	padding: 0;
	margin: 0;
}

img{
	width: 100%;
}
.pdf-page a{
	text-decoration: none;
}

.pdf-page{
	min-height: 60vh;
	padding: 1.5rem 2rem 3rem 3rem;
	border: 1px solid #000;
	margin-top: 2rem;
}

.pdf-wrapper{
	max-width: 80%;
	margin: 0 auto;
	padding: 1rem 0;
}

@media (max-width:500px){
	.pdf-page{
		padding: 1rem 2rem 3rem 1rem;
	}
}

.pdf-page{
	position: relative;
}

.pdf-page::before{
	content: 'Конфіденційно. Тільки для цілей навчання ключових лідерів думки компанії "Такеда" в Україн';
	position: absolute;
	bottom: 1%;
	left: 5%;
	color: #7b7d81;
	font-size: 1rem;
}

@media(max-width: 600px){
	.pdf-page::before{
		font-size: 0.5rem;
	}
}

.pdf-centrified-content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

.pdf-left-center-red-line{
	position: relative;
}

.pdf-left-center-red-line::after{
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background-color: #ee1100;
	height: 80%;
	width: 1.5%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

.pdf-text{
	color: #3b3d42;
	font-size: 1.5rem;
}

@media(max-width: 600px){
	.pdf-text{
		font-size: 1rem;
	}	
}

.pdf-left-top-red-line{
	position: relative;
}

.pdf-left-top-red-line::after{
	content: '';
	position: absolute;
	top: 2%;
	left: 0;
	background-color: #ee1100;
	height: 10%;
	width: 1.5%;
}

.pdf-main-title-style{
	color: #4b4847;
	font-size: 2.3rem;
	line-height: 1em;
	max-width: 85%;
	margin-left: 0;
}


.pdf-logo-top-right::after{
	content: url('/takeda_img/takeda_logo.png');
	position: absolute;
	max-width: 100px;
	transform: scale(0.7);
	top: 2%;
	right: 6%;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	-o-transform: scale(0.7);
}

@media(max-width: 1100px){
	.pdf-logo-top-right::after{
		transform: scale(0.4);
		-webkit-transform: scale(0.4);
		-moz-transform: scale(0.4);
		-ms-transform: scale(0.4);
		-o-transform: scale(0.4);
	}
}

@media(max-width: 800px){
	.pdf-logo-top-right::after{
		display: none;
	}
}

@media(max-width: 600px){
	.pdf-main-title-style{
		font-size: 1.5rem;
	}
}

.pdf-text-style-b{
	font-size: 2rem;
    color: #4b4847;
}

.pdf-logo-center-right{
	position: absolute;
	width: 100%;
	max-width: 130px;
	top: 50%;
	right: 4%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}


@media (max-width: 1325px){
	.pdf-logo-center-right{
		position: absolute;
		width: 100%;
		max-width: 125px;
		top: 2%;
		right: 4%;
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
	}
}

.pdf-ul-grey-circle, .pdf-ul-red-square, .pdf-ul-grey-square, .pdf-ul-red-circle-bg-empty{
	list-style-type: none;
	padding-left: 2rem;
}

.pdf-ul-grey-circle li{
	position: relative;
	margin-top: 0.8rem;
}

.pdf-ul-grey-circle li, .pdf-ul-red-square li, .pdf-ul-grey-square li, .pdf-ul-red-circle-bg-empty li{
	padding: 0 0.5rem;
}

.pdf-ul-grey-circle li::before, .pdf-ul-red-square li::before, .pdf-ul-grey-square li::before, .pdf-ul-red-circle-bg-empty li::before{
	content: '';
	position: absolute;
	left: -1.8rem;
	top: 0.5em;
	transform: translateY(-50%);
	width: 8px;
	height: 8px;
	border-radius: 100%;
	background-color:#46484b;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

.pdf-ul-red-square li{
	position: relative;
}

.pdf-ul-red-square li::before{
	background-color:red;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
}

.pdf-ul-grey-square li{
	position: relative;
}

.pdf-ul-grey-square li::before{
	border-radius: 0;
	background-color:#46484b;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
}

.pdf-ul-red-circle-bg-empty li{
	position: relative;
}
.pdf-ul-red-circle-bg-empty li::before{
	border: 1px solid red;
	border-radius: 100%;
	background-color: transparent;
}

.pdf-ul-grey-square li::before{
	border-radius: 0;
	background-color:#46484b;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
}

.pdf-text-red-border{
	border: 2px red solid;
	padding: 1rem 0.5rem;
}

.pdf-text-grey-border{
	border: 1px grey solid;
	padding: 0.2rem 0.5rem;
}

.pdf-bg-green{
	padding: 0.5rem 0.3rem;
	background-color: #a7d973;
}

.pdf-grey-border{
	border: 1px solid #7b7d81;
	padding: 5px;
}

.pdf-warning-icon{
	position: relative;
	padding-left: 4rem;
}

.pdf-warning-icon::before{
	content: url('./takeda_img/takeda_warning.png');
	position: absolute;
	top: 0;
	left: -2rem;
	transform: scale(0.9);
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
}

@media(max-width: 600px){
	.pdf-warning-icon{
		padding-left: 2rem;
	}

	.pdf-warning-icon::before{
		top: -10%;
		-webkit-transform: scale(0.4);
		    -ms-transform: scale(0.4);
		        transform: scale(0.4);
	}
}

.pdf-text-center{
	text-align: center;
}

.pdf-title-left-top{
	margin: 0;
}

.pdf-m-0-auto{
	margin: 0 auto;
}

.pdf-text-large{
	font-size: 2rem;
}

@media(max-width: 600px){
	.pdf-text-large{
		font-size: 1rem;
	}
}

.pdf-text-small{
	font-size: 1.3rem;
}

@media(max-width: 600px){
	.pdf-text-small{
		font-size: 0.8rem;
	}
}

.pdf-content-two-column-50{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: start;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 1rem 0;
}

.pdf-content-two-column-50 > *{
	width: 100%;
	max-width: 48%;
	-ms-flex-item-align: stretch;
	    -ms-grid-row-align: stretch;
	    align-self: stretch;	
}

.pdf-content-two-column-30-70{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 1rem 0;
}

.pdf-content-two-column-30-70 > :first-child{
	width: 100%;
	max-width: 29%;
}

.pdf-content-two-column-30-70 > :last-child{
	width: 100%;
	max-width: 69%;
}

.pdf-red-jaw{
	background-color: red;
	padding: 0.8rem 1rem;
} 

.pdf-text-white{
	color: white;
} 

.pdf-text-uppercase{
	text-transform: uppercase;
}

.pdf-text-smaller-2{
	font-size: 1.2rem;
}

@media (max-width: 600px) {
	.pdf-text-smaller-2{
		font-size: 1rem;
	}	
}

.pdf-text-smaller{
	font-size: 0.8rem;
}

.pdf-underline{
	border-bottom: 2px solid #46484b;
}

.pdf-content-row{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.pdf-content-row > *{
	width: 100%;
	max-width: 45%;
}

@media (max-width: 950px){
	.pdf-content-row{
		display: block;
	}

	.pdf-content-row > *{
		width: 100%;
		max-width: 100%;
	}
}

@media (max-width: 600px){
	.pdf-text-smaller{
		font-size: 0.6rem;
	}	
}

.pdf-text-green{
	color: rgb(96, 170, 67);
}

.pdf-text-blue{
	color: rgb(80, 121, 233);
}

.pdf-text-red{
	color: red;
}

.pdf-three-items-row{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.pdf-three-items-row > *{
	width: 100%;
	max-width: 27%;
}

@media (max-width: 1366px){
	.pdf-three-items-row{
		display: block;
	}
	
	.pdf-three-items-row > *{
		margin-top: 2rem;
		
		max-width: 94%;
	}
}

@media (max-width: 568px){
	.pdf-three-items-row > *{
		margin-top: 2rem;
		
		max-width: 85%;
	}
}

.pdf-legend{
	padding: 1.5rem 1rem 1rem 2rem;
	position: relative;
}

.pdf-legend .pdf-legend-title{
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	padding: 1rem 1rem 1rem 0;
	transform: translate(-3%, -50%);
	-webkit-transform: translate(-3%, -50%);
	-moz-transform: translate(-3%, -50%);
	-ms-transform: translate(-3%, -50%);
	-o-transform: translate(-3%, -50%);
}

.pdf-four-items-row{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.pdf-four-items-row > *{
	width: 100%;
	max-width: 20%;
	-ms-flex-item-align: stretch;
	    -ms-grid-row-align: stretch;
	    align-self: stretch;
}

/* PAGE 1 */

/* PAGE 2 */
.pdf-page-two p ~ p{
	margin-top: 2rem;
}

.pdf-page-two p ~ p ~ p{
	margin-top: 4rem;
}

.pdf-page-two ul{
	padding-left: 1rem;	
}

/* PAGE 3 */

.pdf-page-three ul li{
	margin-top: 2rem;
}

.pdf-page-three p ~ p{
	margin-top: 4rem;
	padding-bottom: 0.4rem;
}

/* PAGE 4 */
.pdf-page-four{
	background-color: #ccc;
}

/* PAGE 5 */
@media(max-width:700px){
	.pdf-page-five .pdf-content-two-column-50{
		display: block;
	}
	
	.pdf-page-five .pdf-content-two-column-50 > *:first-child{
		max-width: 100%;
	}
	
	.pdf-page-five .pdf-content-two-column-50 > *:last-child{
		display: none;
	}
}

.pdf-page-five .pdf-red-jaw{
	margin-left: 0.5rem;
}

.pdf-page-five p:nth-child(4){
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

.pdf-page-five p:nth-child(6){
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

/* PAGE 6 */
.pdf-page-six .pdf-content-two-column-30-70 > div:last-child p{
	margin-top: 1rem;
}

.pdf-page-six .pdf-content-two-column-30-70 > div:last-child p:first-child{
	margin-top: 0;
}

@media(max-width: 1104px){
	.pdf-content-two-column-30-70{
		display: block;
	}

	.pdf-content-two-column-30-70 > *:first-child{
		display: none;
	}

	.pdf-content-two-column-30-70 > *:last-child{
		max-width: 100%;
	}
}

/* PAGE 7 */


/* PAGE 8 */

.pdf-page-eight > p:nth-child(2){
	margin-top: 0.4rem;
}

.pdf-page-eight .pdf-content-row{
	padding: 0 1rem;
	margin-top: 3rem;
}

.pdf-page-eight .pdf-content-row:last-child{
	margin-bottom: 3rem;
}

@media (max-width: 950px){
	.pdf-page-eight .pdf-content-row{
		padding: 0;
		margin-top: 2rem;
	}
	
	.pdf-page-eight .pdf-content-row > *:last-child{
		margin-top: 1rem;
	}
}

/* PAGE 9 */
.pdf-page-nine > p:nth-child(2){
	margin-top: 0.4rem;
}

.pdf-page-nine > p:nth-child(2){
	margin-top: 0.4rem;
}

.pdf-page-nine ul > li{
	margin-top: 1.5rem;
}

@media (max-width: 900px){
	.pdf-page-nine .pdf-content-two-column-50{
		display: block;
	}
	
	.pdf-page-nine .pdf-content-two-column-50 > *{
		max-width: 100%;
	}

	.pdf-page-nine .pdf-content-two-column-50 > *:last-child{
		margin-top: 2rem;
	}
}

/* PAGE 10 */
.pdf-page-ten > p:nth-child(2){
	margin-top: 0.4rem;
}

.pdf-page-ten > p:nth-child(2){
	margin-top: 0.4rem;
}

.pdf-page-ten ul > li{
	margin-top: 1.5rem;
}

@media (max-width: 900px){
	.pdf-page-ten .pdf-content-two-column-50{
		display: block;
	}
	
	.pdf-page-ten .pdf-content-two-column-50 > *{
		max-width: 100%;
	}

	.pdf-page-ten .pdf-content-two-column-50 > *:last-child{
		margin-top: 2rem;
	}

}

/* PAGE 11 */
.pdf-page-eleven > p:nth-child(2){
	margin-top: 0.4rem;
}

.pdf-page-eleven > p:nth-child(2){
	margin-top: 0.4rem;
}

.pdf-page-eleven ul > li{
	margin-top: 1.5rem;
}

@media (max-width: 900px){
	.pdf-page-eleven .pdf-content-two-column-50{
		display: block;
	}
	
	.pdf-page-eleven .pdf-content-two-column-50 > *{
		max-width: 100%;
	}

	.pdf-page-eleven .pdf-content-two-column-50 > *:last-child{
		margin-top: 2rem;
	}
}

/* PAGE 12 */
.pdf-page-twelve > p:nth-child(2){
	margin-top: 0.4rem;
}

.pdf-page-twelve > p:nth-child(2){
	margin-top: 0.4rem;
}

.pdf-page-twelve ul > li{
	margin-top: 1.5rem;
}

@media (max-width: 900px){
	.pdf-page-twelve .pdf-content-two-column-50{
		display: block;
	}
	
	.pdf-page-twelve .pdf-content-two-column-50 > *{
		max-width: 100%;
	}

	.pdf-page-twelve .pdf-content-two-column-50 > *:last-child{
		margin-top: 2rem;
	}
}

/* PAGE 13 */
.pdf-page-thirteen p{
	margin-top: 2rem;
}

.pdf-page-thirteen p:first-child{
	margin-top: 0;
}

/* PAGE 14 */

/* PAGE 15 */
.pdf-page-fifteen p:nth-child(2){
	margin-top: 1rem;
}

.pdf-page-fifteen .pdf-text-grey-border{
	margin-top: 1rem;
}
.pdf-page-fifteen ul > li{
	margin-top: 1.5rem;
}

.pdf-page-fifteen ul > li:first-child{
	margin-top: 0;
}

@media (max-width: 900px){
	.pdf-page-fifteen .pdf-content-two-column-50{
		display: block;
	}
	
	.pdf-page-fifteen .pdf-content-two-column-50 > *{
		max-width: 100%;
	}
}

/* PAGE 16 */
.pdf-page-sixteen .pdf-three-items-row{
	margin: 0 auto;
	margin-top: 3rem;
}

@media(max-width: 600px){

	.pdf-page-sixteen .pdf-contact-page-22{
		margin-left: 3rem;
	}
	
}

@media(max-width: 400px){

	.pdf-page-sixteen .pdf-contact-page-22{
		margin-left: 0.4rem;
	}
	
}

/* PAGE 17 */
.pdf-page-seventeen ul li{
	margin-top: 2rem;
}

/* PAGE 18 */
.pdf-page-eightteen .pdf-main-title-style{
	font-size: 2.2rem;
}

.pdf-page-eightteen .pdf-main-title-style{
	font-size: 2.2rem;
}

.pdf-page-eightteen .pdf-text{
	margin-top: 2rem;
}

.pdf-page-eightteen ul {
	padding-left: 5rem;
}

@media (max-width: 600px){
	.pdf-page-eightteen .pdf-main-title-style{
		font-size: 1.5rem;
	}

	.pdf-page-eightteen ul {
		padding-left: 2rem;
	}

	.pdf-page-eightteen .pdf-text{
		margin-top: 1rem;
	}
}

/* PAGE 19 */

/* PAGE 20 */
.pdf-page-twenty .pdf-content-two-column-50{
	margin-bottom: 2rem;
}

.pdf-page-twenty .pdf-content-two-column-50 p{
	margin-top: 2rem;
}

.pdf-page-twenty .pdf-legend-title{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: white;
	width: 4rem;
	height: 4rem;
	transform: translateX(-50%) translateY(-70%);
	-webkit-transform: translateX(-50%) translateY(-70%);
	-moz-transform: translateX(-50%) translateY(-70%);
	-ms-transform: translateX(-50%) translateY(-70%);
	-o-transform: translateX(-50%) translateY(-70%);
	position: relative;
}

.pdf-page-twenty .pdf-item-icon_1:after{
	content: url('./takeda_img/page-20-hand.png');
	position: absolute;
	background-color: #fff;
}

.pdf-page-twenty .pdf-item-icon_2:after{
	content: url('./takeda_img/page-20-humans.png');
	position: absolute;
	background-color: #fff;
}

.pdf-page-twenty .pdf-item-icon_3:after{
	content: url('./takeda_img/page-20-worker.png');
	position: absolute;
	background-color: #fff;
}

.pdf-page-twenty .pdf-item-icon_4:after{
	content: url('./takeda_img/page-20-scale.png');
	position: absolute;
	background-color: #fff;
}

.pdf-page-twenty .pdf-legend-title:after{
	position: absolute;
	background-color: #fff;
}

.pdf-page-twenty .pdf-legend .pdf-text{
	margin-top: -4rem;
}

@media(max-width: 1540px){
	.pdf-page-twenty .pdf-four-items-row > *{
		max-width: 40%;
	}

	.pdf-page-twenty .pdf-four-items-row > *:nth-child(3), .pdf-page-twenty .pdf-four-items-row > *:nth-child(4){
		margin-top: 4rem;
	}
}

@media(max-width: 1100px){
	.pdf-page-twenty .pdf-content-two-column-50{
		display: block;
	}
	
	.pdf-page-twenty .pdf-content-two-column-50 > *{
		max-width: 96%;
	}
	
	.pdf-page-twenty .pdf-content-two-column-50 > *:first-child{
		max-width: 50%;
		margin: 0 auto;
	}
}

@media(max-width: 866px){
	.pdf-page-twenty .pdf-four-items-row{
		display: block;
	}

	.pdf-page-twenty .pdf-four-items-row > *{
		max-width: 80%;
		margin: 0 auto;
	}

	.pdf-page-twenty .pdf-four-items-row > *{
		margin-top: 4rem;
	}

	.pdf-page-twenty .pdf-legend-title:after{
		position: absolute;
		background-color: #fff;
		transform: scale(0.4);
		-webkit-transform: scale(0.4);
		-moz-transform: scale(0.4);
		-ms-transform: scale(0.4);
		-o-transform: scale(0.4);
}

	.pdf-page-twenty .pdf-legend-title{
		transform: translate(-100%, -100%);
		-webkit-transform: translate(-100%, -100%);
		-moz-transform: translate(-100%, -100%);
		-ms-transform: translate(-100%, -100%);
		-o-transform: translate(-100%, -100%);
}
}

/* PAGE 21 */

.pdf-page-twenty-one .pdf-ul-red-square li{
	margin-top: 2rem;
}

.pdf-page-twenty-one .pdf-ul-red-circle-bg-empty li{
	margin-top: 1rem;
}

/* PAGE 22 */

.pdf-page-twenty-two .pdf-contact-page-22{
	margin-top: 0.5rem;
	margin-left: 2rem;
}

.pdf-page-twenty-two .pdf-ul-red-square li{
	margin-top: 2rem;
}

.pdf-page-twenty-two .pdf-ul-red-circle-bg-empty li{
	margin-top: 0.3rem;
}

@media (max-width: 600px){

	.pdf-page-twenty-two .pdf-contact-page-22{
		margin-left: 0.5rem;		
	} 
}

/* PAGE 24 */
.pdf-page-twenty-four ul{
	list-style: none;
	padding-left: 4rem;
}

.pdf-page-twenty-four ul li{
	margin-top: 2rem;
	position: relative;
}

.pdf-page-twenty-four ul li:after{
	content: '';
	color: red;
	position: absolute;
	top: 0;
	left: -4rem;
	transform: translateY(100%) scale(3.5);
	-webkit-transform: translateY(100%) scale(3.5);
	-moz-transform: translateY(100%) scale(3.5);
	-ms-transform: translateY(100%) scale(3.5);
	-o-transform: translateY(100%) scale(3.5);
}

.pdf-page-twenty-four ul li:nth-child(1):after{
	content: '1';
}

.pdf-page-twenty-four ul li:nth-child(2)::after{
	content: '2';
}

.pdf-page-twenty-four ul li:nth-child(3)::after{
	content: '3';
}

@media(max-width: 500px){
	.pdf-page-twenty-four ul{
		padding-left: 2rem;
	}

	.pdf-page-twenty-four ul li:after{
		left: -2rem
	}
}


/* PAGE 25 */

.pdf-page-twenty-five .pdf-contact-page-22{
	margin-top: 0.5rem;
	margin-left: 6rem;
}

.pdf-page-twenty-five .pdf-ul-red-square li{
	margin-top: 2rem;
}

.pdf-page-twenty-five .pdf-ul-red-circle-bg-empty li{
	margin-top: 0.3rem;
}


@media (max-width: 600px){

	.pdf-page-twenty-five .pdf-contact-page-22{
		margin-left: 0.5rem;		
	} 
}

/* PAGE 26 */
.pdf-page-twenty-six{
	position: relative;
}

.pdf-page-twenty-six .pdf-text-large, .pdf-page-twenty-six .pdf-mark{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
	-webkit-transform: translate(-50%, -100%);
	-moz-transform: translate(-50%, -100%);
	-ms-transform: translate(-50%, -100%);
	-o-transform: translate(-50%, -100%);
}

.pdf-page-twenty-six .pdf-mark{
	top: 90%;
	font-size: 0.6rem;
}

.pdf-page-twenty-six .pdf-text-large::after{
	content: url('./takeda_img/takeda_logo.png');
	position: absolute;
	top: 100%;
	left: 50%;
	transform: scale(0.8) translate(-60%, 200%);
	-webkit-transform: scale(0.8) translate(-60%, 200%);
	-moz-transform: scale(0.8) translate(-60%, 200%);
	-ms-transform: scale(0.8) translate(-60%, 200%);
	-o-transform: scale(0.8) translate(-60%, 200%);
}