/* Обнуление */

* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}
nav,
footer,
header,
aside {
   display: block;
}
html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   -khtml-text-size-adjust: 100%;
}
input,
button,
textarea {
   font-family: inherit;
}
input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
   background: none;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul,
li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
}
/* ========================================================== */

body {
   font-family: 'Raleway', sans-serif;
   font-size: 15px;
   color: #fff;
}
a {
   display: inline-block;
}
.container {
   max-width: 1470px;
   padding-left: 15px;
   padding-right: 15px;

   margin: 0 auto;
}

/* Header
=====================================*/
.header {
   padding-top: 50px;

   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   background-image: linear-gradient(-53deg, rgba(0, 184, 212) 0%, rgba(29, 233, 182, 0.8) 100%),
      url(../img/bg-header.jpg);
}
.header-top {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav__list {
   display: flex;
}
.nav__item {
   padding-right: 49px;
}
.nav__link {
   color: #fff;
   transition: all 0.3s ease;
   font-weight: 500;
   position: relative;
}
.nav__link:hover {
   color: #061e37;
}
.nav__link.footer__link:hover {
   color: #1de9b6;
}
.header-top__btn {
   color: #fff;
   font-size: 12px;
   line-height: 25px;
   padding: 2px 20px;

   border: 1px solid #fff;
   border-radius: 2px;

   text-decoration: none;
}
.header__content {
   display: flex;
   justify-content: space-between;
   padding-top: 154px;
}
.header-left__title {
   padding-right: 109px;
   font-size: 55px;
   font-weight: 900;
   line-height: 65px;
   text-transform: uppercase;
   letter-spacing: 1.2px;
}
.header-left__text {
   margin-top: 13px;
   font-size: 18px;
   line-height: 35px;
}

.header-left__btns {
   padding-top: 30px;
}
.header-left__btn {
   margin-right: 30px;
}
.header-left__btn:last-child {
   margin-right: 0;
}
.primary__btn {
   color: #fff;
   text-transform: uppercase;

   padding: 22px 43px;
   box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
   border-radius: 5px;
   background-color: #061e37;
}
.btn__free {
   color: #fff;
   color: #061e37;
   font-weight: 700;

   padding: 22px 28px;

   text-transform: uppercase;
   box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
   border-radius: 5px;
   background-color: #fff;
}
.header-right {
   max-width: 600px;
   background-image: url(../img/video.jpg);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   min-height: 320px;
   border-radius: 5px;
   width: 100%;
   display: flex;
   align-items: center;
   position: relative;
}
.header-right__video {
   background-color: rgba(255, 255, 255, 0.9);
   width: 100%;
   min-height: 320px;
   text-align: center;
   border-radius: 5px;
}
.header-right__video-btn {
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
   position: absolute;
}
.header-right__video-play {
   margin-top: 100px;
   display: inline-block;
   text-align: center;
   padding: 25px;

   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   background-color: #061e37;
}
.header-right__video-play img {
   width: 10px;
   height: 12px;
}
.header-right__text {
   color: #061e37;
   font-size: 12px;
   font-weight: 700;
   text-transform: uppercase;

   margin-top: 22px;
}
.header__btn-menu {
   display: none;
}
.header__btn-menu {
   width: 50px;
   height: 50px;
   background-color: transparent;
   border-radius: 50%;
   position: relative;
}
.header__btn-menu span,
.header__btn-menu span:before,
.header__btn-menu span:after {
   height: 2px;
   width: 20px;
   top: 50%;
   margin-top: -1px;
   left: 50%;
   margin-left: -10px;
   position: absolute;
   background-color: #222;
}
.header__btn-menu span:before,
.header__btn-menu span:after {
   content: '';
   display: block;
}
.header__btn-menu span:before {
   transform: translateY(-5px);
}
.header__btn-menu span:after {
   transform: translateY(5px);
}
@media (min-width: 1200px) {
   .header {
      height: 100vh;
   }
   .header-left {
      max-width: 600px;
   }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
   .nav__list {
      display: flex !important;
   }
   .nav__item {
      padding-right: 49px;
   }
   .nav__link {
      color: #fff;
      transition: all 0.3s ease;
      font-weight: 500;
      position: relative;
   }
   .nav__link:hover {
      color: #061e37;
   }
   .nav__link.footer__link:hover {
      color: #1de9b6;
   }
   .header {
      padding-bottom: 30px;
   }
   .header-top__btn {
      color: #fff;
      font-size: 12px;
      line-height: 25px;
      padding: 2px 20px;

      border: 1px solid #fff;
      border-radius: 2px;

      text-decoration: none;
   }
   .header-left__title {
      font-size: 45px;
      font-weight: 900;
      line-height: 47px;
      text-transform: uppercase;
      letter-spacing: 1.2px;
   }
   .header-left__text {
      margin-top: 13px;
      font-size: 16px;
      line-height: 25px;
   }
   .header-left {
      max-width: 600px;
      margin-right: 20px;
   }
   .header__content {
      padding-top: 120px;
   }
}
@media (min-width: 768px) and (max-width: 991.98px) {
   .header {
      height: 100vh;
   }
   .header .container {
      text-align: right;
   }
   .header-top {
      display: flex;
   }
   .header__btn-menu {
      left: 260%;
   }
   .header-right {
      margin: 0 auto;
   }
   .header-left__title {
      padding-right: 0;
      font-size: 30px;
      line-height: 40px;
   }
   .header-left__text {
      margin-top: 13px;
      font-size: 18px;
      line-height: 30px;
   }
   .header-left__btn {
      padding: 20px;
   }
   .btn__free {
      margin-top: 20px;
   }
   .header__btn-menu {
      display: block;
      right: -62px;
      top: 3px;
   }
   .header__content {
      display: block;
      text-align: center;
      padding-top: 20px;
   }
   .btn__free {
      padding: 20px 80px;
   }
   .header-left__btn {
      margin-right: 0;
   }
   .header-left__btn {
      padding: 20px 80px;
   }
   .header-right__video {
      margin: 20px 0;
   }
   .header-top__nav ul {
      position: absolute;
      display: block;
      width: 100%;
      right: 0;
      left: 0;
      margin-top: 20px;
      z-index: 10;
      display: none;
   }
   .nav__item {
      display: block;
      text-align: center;
      background-image: linear-gradient(-53deg, rgba(0, 184, 212) 0%, rgba(29, 233, 182, 1) 100%);
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      padding: 16px 16px;
   }
   .nav__list a {
      display: block;
   }
}
@media (min-width: 576px) and (max-width: 767.98px) {
   .header {
      padding-top: 21px;
   }
   .header .container {
      text-align: right;
   }
   .header-top {
      display: flex;
   }
   .header__btn-menu {
      left: 260%;
   }
   .header-right {
      margin: 0 auto;
   }
   .header-left__title {
      padding-right: 0;
      font-size: 30px;
      line-height: 40px;
   }
   .header-left__text {
      margin-top: 13px;
      font-size: 18px;
      line-height: 30px;
   }
   .header-left__btn {
      padding: 20px;
   }
   .btn__free {
      margin-top: 20px;
   }
   .header__btn-menu {
      display: block;
      right: -62px;
      top: 3px;
   }
   .header__content {
      display: block;
      text-align: center;
      padding-top: 20px;
   }
   .btn__free {
      padding: 20px 80px;
   }
   .header-left__btn {
      margin-right: 0;
   }
   .header-left__btn {
      padding: 20px 80px;
   }
   .header-right__video {
      margin: 20px 0;
   }
   .header-top__nav ul {
      position: absolute;
      display: block;
      width: 100%;
      right: 0;
      left: 0;
      margin-top: 20px;
      z-index: 10;
      display: none;
   }
   .nav__item {
      display: block;
      text-align: center;
      background-image: linear-gradient(-53deg, rgba(0, 184, 212) 0%, rgba(29, 233, 182, 1) 100%);
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      padding: 16px 16px;
   }
   .nav__list a {
      display: block;
   }
}
@media (max-width: 575.98px) {
   .header {
      padding-top: 21px;
   }
   .header-top {
      display: block;
      text-align: right;
   }
   .header__btn-menu {
      left: 80%;
   }
   .header-left__title {
      padding-right: 0;
      font-size: 30px;
      line-height: 40px;
   }
   .header-left__text {
      margin-top: 13px;
      font-size: 18px;
      line-height: 30px;
   }
   .header-left__btn {
      padding: 20px;
      width: 100%;
   }
   .header__right {
      margin: 0 auto;
   }
   .btn__free {
      margin-top: 20px;
   }
   .header__btn-menu {
      display: block;
      right: -62px;
      top: 3px;
   }
   .header__content {
      display: block;
      text-align: center;
      padding-top: 20px;
   }
   .btn__free {
      padding: 20px 80px;
   }
   .header-left__btn {
      margin-right: 0;
   }
   .header-left__btn {
      padding: 20px 66px;
   }
   .header-right__video {
      margin: 20px 0;
   }
   .header-top__nav ul {
      position: absolute;
      display: block;
      width: 100%;
      right: 0;
      left: 0;
      margin-top: 20px;
      z-index: 10;
      display: none;
   }
   .nav__item {
      display: block;
      text-align: center;
      background-image: linear-gradient(-53deg, rgba(0, 184, 212) 0%, rgba(29, 233, 182, 1) 100%);
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      padding: 16px 16px;
   }
   .nav__list a {
      display: block;
   }
}

/* Tool
=====================================*/
.tool .container {
   padding: 100px 15px;
   text-align: center;
}

.section-title {
   color: #061e37;
   font-size: 45px;
   font-weight: 500;
   max-width: 555px;
   margin: auto auto;
}
.tool__subtitle {
   margin: auto auto;
   color: #b0bec5;
   font-size: 25px;
   font-weight: 500;
   margin-top: 14px;
   max-width: 555px;
}
.section-text {
   margin: auto auto;
   margin-top: 20px;
   color: #b0bec5;
   font-size: 15px;
   line-height: 25px;
   max-width: 555px;
}

.tool__items {
   margin-top: 94px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.tool__item {
   max-width: 344px;
}

.tool__item-title {
   color: #061e37;
   font-size: 20px;
   font-weight: 500;
   line-height: 25px;
   margin-top: 45px;
}
.tool__item-text {
   color: #78909c;
   font-size: 15px;
   line-height: 20px;
   margin-top: 12px;
}
.tool__btn {
   color: #fff;
   font-size: 15px;
   font-weight: 700;
   text-transform: uppercase;

   margin-top: 78px;
   padding: 22px;

   box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
   border-radius: 5px;
   background-color: #1de9b6;
}
@media (min-width: 768px) and (max-width: 991.98px) {
   .tool__btn {
      padding: 20px 0;
      width: 100%;
   }
   .tool__item {
      margin-right: 20px;
   }
}
@media (min-width: 576px) and (max-width: 767.98px) {
   .tool__items {
      display: block;
      margin-top: 60px;
   }
   .tool__item {
      margin: 30px auto 0;
   }
   .tool__btn {
      padding: 20px 0;
      width: 100%;
   }
}
@media (max-width: 575.98px) {
   .tool__items {
      display: block;
      margin-top: 60px;
   }
   .tool__item {
      margin: 30px auto 0;
   }
   .tool__btn {
      padding: 20px 0;
      width: 100%;
   }
}

/* Stats
=====================================*/

.stats__items {
   display: flex;
   align-items: center;
}

.stats__item-1 {
   width: 100%;
   min-height: 150px;
   background-color: #80d8ff;
}
.stats__item-1 .container,
.stats__item-2 .container,
.stats__item-3 .container,
.stats__item-4 .container {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 54px;
}
.stats__icon {
   background-color: #fff;
   display: inline-block;
   padding: 20px;
   border-radius: 50%;
   margin-right: 23px;
}

.stats__item-2 {
   max-width: 400px;
   width: 100%;
   min-height: 150px;
   background-color: #82b1ff;
}
.stats__item-3 {
   max-width: 400px;
   width: 100%;
   min-height: 150px;
   background-color: #b388ff;
}
.stats__item-4 {
   width: 100%;
   min-height: 150px;
   background-color: #ea80fc;
}
@media (min-width: 576px) and (max-width: 767.98px) {
   .stats__items {
      display: block;
   }
   .stats__item-1,
   .stats__item-2,
   .stats__item-3,
   .stats__item-4 {
      width: 100%;
      display: inline-block;
      max-width: none;
   }
}
@media (max-width: 575.98px) {
   .stats__items {
      display: block;
   }
   .stats__item-1,
   .stats__item-2,
   .stats__item-3,
   .stats__item-4 {
      width: 100%;
      display: inline-block;
      max-width: none;
   }
}
/* Services
=====================================*/
.services {
   padding: 100px 0;
}

.services .container {
   text-align: center;
}
.services__slide-items {
   padding-top: 48px;
}
.services__slide-item {
   max-width: 800px;
   box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
   border-radius: 5px;
   padding: 20px 33px 25px 25px;
   margin: 0 auto;
   position: relative;
   margin-top: 20px;
}
.services__slide-item:first-child {
   margin-top: 0;
}
.slide__name {
   color: #061e37;
   font-size: 15px;
   font-weight: 700;
   text-transform: uppercase;
   text-align: left;
}
.slide__name:before {
   content: url(../img/trending_up.png);
   width: 20px;
   height: 20px;
   margin-right: 25px;
}
.slide__name:after {
   content: url(../img/arrow_drop_down.png);
   display: inline-block;
   position: absolute;
   right: 25px;
   top: 16px;
}
.slide__inner {
   display: none;
   margin-top: 20px;
}
.slide__content {
   display: flex;
}
.slide__img {
   max-width: 250px;
   max-height: 155px;
}
.slide__text {
   color: #061e37;
   font-size: 15px;
   line-height: 25px;
   letter-spacing: 0.45px;
   margin-left: 25px;
}
@media (min-width: 576px) and (max-width: 767.98px) {
   .slide__content {
      display: flex;
   }
   .slide__img {
      margin: 0 auto 10px;
   }
}
@media (max-width: 575.98px) {
   .slide__content {
      display: block;
   }
   .slide__img {
      margin: 0 auto 10px;
   }
}

.reviews {
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   background-image: linear-gradient(-53deg, rgba(0, 184, 212) 0%, rgba(29, 233, 182, 0.8) 100%),
      url(../img/reviews-bg.jpg);
   min-height: 564px;
   height: 564px;
}
.reviews .container {
   display: flex;
   justify-content: space-between;
}
.reviews__left {
   padding-top: 164px;
}
.reviews__title {
   color: #fff;
   font-size: 45px;
   font-weight: 500;
}
.reviews__text {
   color: #fff;
   font-size: 15px;
   font-weight: 500;
   line-height: 25px;
   margin-top: 19px;
}
.reviews__btn {
   margin-top: 70px;
}
.reviews__slider {
   max-width: 780px !important;
   padding: 40px 0;
   position: relative;
}
.slider__item {
   display: flex;
   align-items: center;
   margin-top: 59px;
   width: 100%;
   padding-bottom: 15px;
}
.slider__content {
   max-width: 650px !important;
   padding: 21px 64px 21px 31px;
   display: block;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
   border-radius: 5px;
   background-color: #fff;
}
.slider__name {
   color: #061e37;
   font-size: 18px;
   font-weight: 700;
   line-height: 25px;
}
.slider__text {
   margin-top: 20px;
   color: #78909c;
   font-size: 15px;
   font-style: italic;
   line-height: 25px;
}
.slider__photo {
   width: 60px;
   height: 60px;
   border-radius: 50%;
   margin-right: 53px;
}
.slick-btn.slick-arrow.slick-disabled {
   opacity: 0.15;
}
.slick-vertical .slick-slide {
   display: flex;
}
.slick-list.draggable {
   height: 460px !important;
}

.slick-btn {
   position: absolute;
   z-index: 3;
   cursor: pointer;
}
.slick-btn.slick-disabled {
   cursor: default;
}

.slick-next {
   left: 59.4%;
   bottom: 14px;
}
.slick-next:before {
   content: url(../img/keyboard_arrow_down.png);
   position: absolute;
   right: 50%;
   transform: translateX(-50%);
}

.slick-prev {
   left: 54.5%;
}
.slick-prev:before {
   content: url(../img/keyboard_arrow_up.png);
   position: absolute;
}
@media (min-width: 992px) {
   .reviews__left {
      max-width: 540px;
   }
}
@media (min-width: 768px) and (max-width: 991.98px) {
   .reviews__slider.slick-initialized.slick-slider.slick-vertical {
      max-width: 555px;
   }
   .reviews {
      max-height: none;
      height: auto;
   }
   .reviews__left {
      margin-right: 20px;
      padding-top: 80px;
      max-width: 540px;
   }
   .reviews .container {
      align-items: center;
   }
   .reviews__left,
   .reviews__right {
      text-align: center;
   }
   .reviews__title {
      font-size: 40px;
   }
   .reviews__btn {
      padding: 20px 0;
      width: 100%;
   }
   .slider__content {
      padding-right: 21px;
   }
   .slider__photo {
      padding-right: 21px;
      margin-right: 17px;
   }
   .slick-btn {
      display: none !important;
   }
   .slider__name {
      font-size: 15px;
   }
   .slider__text {
      font-size: 13px;
      margin-top: 10px;
   }
   .slider__item {
      margin-top: 20px;
   }
}
@media (min-width: 576px) and (max-width: 767.98px) {
   .reviews {
      display: block;
      max-height: none;
      height: auto;
      padding-top: 20px;
   }
   .reviews .container {
      display: block;
   }
   .reviews__left,
   .reviews__right {
      padding-top: 20px;
      text-align: center;
   }
   .reviews__title {
      font-size: 40px;
   }
   .reviews__btn {
      padding: 20px 0;
      width: 100%;
   }
   .slider__content {
      padding-right: 21px;
   }
   .slider__photo {
      padding-right: 21px;
      margin-right: 17px;
   }
   .slick-btn {
      display: none !important;
   }
   .slider__name {
      font-size: 15px;
   }
   .slider__text {
      font-size: 13px;
      margin-top: 10px;
   }
   .slider__item {
      margin-top: 20px;
   }
}
@media (max-width: 575.98px) {
   .reviews {
      display: block;
      max-height: none;
      height: auto;
   }
   .reviews .container {
      display: block;
   }
   .reviews__left,
   .reviews__right {
      padding-top: 20px;
      text-align: center;
   }
   .reviews__title {
      font-size: 35px;
   }
   .reviews__btn {
      padding: 20px 0;
      width: 100%;
   }
   .slider__content {
      padding-right: 21px;
   }
   .slider__photo {
      padding-right: 21px;
      margin-right: 17px;
   }
   .slick-btn {
      display: none !important;
   }
   .slider__name {
      font-size: 15px;
   }
   .slider__text {
      font-size: 13px;
      margin-top: 10px;
   }
   .slider__item {
      margin-top: 20px;
   }
}

.team {
   padding: 100px 0;
   text-align: center;
}
.team__item {
   max-width: 645px;
   margin: 98px auto 0;
}
.team__photos {
   display: flex;
   justify-content: center;
   align-items: center;
}
.team__photo {
   border-radius: 50%;
   opacity: 0.15;
   margin-right: 50px;
   transition: 0.5s;
}
.team__photo:last-child {
   margin-right: 0;
}
.team__photo img {
   width: 100px;
   height: 100px;
}
.team__photo.team__photo--active {
   opacity: 1;
}
.team__photo.team__photo--active img {
   width: 160px;
   height: 160px;
}
.team__content {
   margin-top: 60px;
   display: none;
}
.team__content--active {
   display: block;
}
.team__content-name {
   color: #061e37;
   font-size: 18px;
   font-weight: 700;
   line-height: 25px;
}
.team__content-text {
   margin-top: 20px;
   color: #90a4ae;
   font-size: 15px;
   line-height: 25px;
}
.team__content-social {
   margin-top: 29px;
}

.social__list {
   display: flex;
   align-items: center;
   justify-content: center;
}
.social__item {
   margin-right: 31px;
}
.social__item:last-child {
   margin-right: 0;
}
.social__link {
   background-image: url(../img/socials-icons.png);
   background-repeat: no-repeat;
}
.social__link--tw {
   width: 18px;
   height: 17px;
   background-position: 0px 0px;
}
.social__link--tw:hover {
   background-position: 0px -40px;
}
.social__link--fb {
   width: 10px;
   height: 18px;
   background-position: -49px 0px;
}
.social__link--fb:hover {
   background-position: -49px -40px;
}
.social__link--in {
   width: 21px;
   height: 20px;
   background-position: -88px 0px;
}
.social__link--in:hover {
   background-position: -88px -40px;
}
.social__link--glob {
   width: 18px;
   height: 18px;
   background-position: -135px 0px;
}
.social__link--glob:hover {
   background-position: -135px -40px;
}
.social__link--be {
   width: 18px;
   height: 12px;
   background-position: -180px -4px;
}
.social__link--be:hover {
   background-position: -180px -44px;
}

@media (max-width: 575.98px) {
   .team__photo {
      margin-right: 10px;
   }
   .team__photo img {
      width: 80px;
      height: 80px;
   }
   .team__photo.team__photo--active img {
      height: 120px;
      width: 120px;
   }
}

.form-page {
   text-align: center;
   padding: 49px 0 100px;
   background-color: #fafafa;
}
.form__text {
   color: #061e37;
   font-size: 15px;
   margin-top: 29px;
}
.form {
   max-width: 600px;
   margin: 49px auto 0;
}
.form-item {
   border: 1px solid #061e37;
   border-radius: 5px;
   padding: 19px 13px 19px 20px;
   max-width: 280px;
   width: 100%;
}

.form-item.form__first-name {
   margin-right: 36px;
}
.form-item.form__email {
   margin-top: 20px;
   margin-right: 36px;
}
.form-item.form__phone {
   margin-top: 20px;
}
.form__message {
   border: 1px solid #061e37;
   border-radius: 5px;
   width: 100%;
   padding: 20px;
   margin-top: 20px;
   height: 150px;
   resize: none;
}
.form__bottom {
   justify-content: space-between;
   align-items: center;
}
.checkbox {
   display: none;
}
.form__checkbox {
   color: #061e37;
   font-weight: 500;
   margin-top: 20px;
   cursor: pointer;
   position: relative;
   margin-left: 9px;
}
.form__check {
   display: inline-block;
   margin-right: 16px;
   height: 18px;
   width: 18px;
   border: 2px solid;
   color: #061e37;
   box-shadow: 0 0 3px rgba(6, 30, 55, 0.5);
   position: relative;
   vertical-align: middle;
}
.checkbox:checked + .form__check:before {
   content: '';
   width: 8px;
   height: 8px;
   top: 50%;
   margin-top: -4px;
   left: 50%;
   margin-left: -4px;
   background-color: #061e37;
   display: block;
   position: absolute;
}
.form__btn {
   color: #fff;
   text-transform: uppercase;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
   border-radius: 5px;
   background-color: #1de9b6;
   padding: 19px 43px;
   cursor: pointer;
   font-size: 16px;
   font-weight: 500;
   margin-top: 20px;
}
@media (min-width: 1200px) {
   .form__bottom {
      display: flex;
      justify-content: space-between;
   }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
   .form__bottom {
      display: flex;
      justify-content: space-between;
   }
}
@media (min-width: 768px) and (max-width: 991.98px) {
   .form__bottom {
      display: flex;
      justify-content: space-between;
   }
   .form__btn {
      padding: 20px 100px;
   }
}
@media (min-width: 576px) and (max-width: 767.98px) {
   .form-item {
      max-width: none;
      margin-top: 15px;
   }
   .form__bottom {
      margin-top: 20px;
   }
   .form__btn {
      padding: 20px 0;
      width: 100%;
   }
   .form-item.form__first-name,
   .form-item.form__email {
      margin-right: 0;
   }
}
@media (max-width: 575.98px) {
   .form-item {
      max-width: none;
      margin-top: 15px;
   }
   .form-item.form__first-name,
   .form-item.form__email {
      margin-right: 0;
   }
   .form__btn {
      padding: 20px 0;
      width: 100%;
   }
   .form__bottom {
      margin-top: 20px;
   }
}
::-webkit-input-placeholder {
   color: #061e37;
   font-size: 14px;
   font-weight: 500;
   line-height: 30px;
}
::-moz-placeholder {
   color: #061e37;
   font-size: 14px;
   font-weight: 500;
   line-height: 30px;
}
:-moz-placeholder {
   color: #061e37;
   font-size: 14px;
   font-weight: 500;
   line-height: 30px;
}
:-ms-input-placeholder {
   color: #061e37;
   font-size: 14px;
   font-weight: 500;
   line-height: 30px;
}
.footer {
   padding: 93px 0 93px;
   background-color: #061e37;
}
.bullet {
   width: 6px;
   height: 6px;
   background-color: #fff;
   border-radius: 100%;
   display: inline-block;
}
.footer__disc a {
   color: #586879;
   font-size: 15px;
   line-height: 25px;
   margin-right: 19px;
}
.footer__disc li:before {
   content: url(../img/Ellipse_4.svg);
   width: 6px;
   height: 6px;
   opacity: 1;
   margin-right: 19px;
}
.footer__disc li:first-child:before {
   content: '';
   margin-right: 0;
}
.footer__disc {
   display: flex;
   margin-top: 60px;
}
.footer__bottom {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.footer__nav .nav__item:last-child {
   padding-right: 0;
}
@media (max-width: 575.98px) {
   .footer__disc {
      display: block;
   }
   .footer-top {
      text-align: center;
   }
   .footer__disc li {
      margin-top: 10px;
   }
   .footer__bottom {
      display: block;
      text-align: center;
   }
}
