.btn {
  display: inline-block;
  height: 47px;
  padding: 0 42px;
  line-height: 44px;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.67px;
  position: relative;
}

.btn_white {
  color: #fff;
  border: 1px solid #fff;
}

.btn:hover {
  color: #000;
}
