* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -khtml-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

a:visited, a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

ul-li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1315px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}

body {
  font-family: "Roboto", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #cccccc;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(13, 33, 63, 0.7);
  border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

.intro {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.intro .intro-slider-bg {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
}

.intro__inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__inner .container {
  height: 100%;
}

.intro__body {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__left {
  padding: 0 5px 0 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__right {
  padding: 0 116px 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__img {
  width: 100%;
}

.intro__title {
  padding-bottom: 44px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 64px;
  line-height: 85px;
  letter-spacing: 6px;
  text-shadow: 5px 6px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  max-width: 531px;
}

.intro__title:after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  display: block;
  height: 2px;
  width: 165px;
  background-color: #ffffff;
}

.intro__subtitle {
  margin-top: 82px;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 6px;
  color: #ffffff;
  max-width: 80%;
}

.slick-track {
  height: 100%;
}

.slider-wrapper {
  width: 100%;
  height: 100%;
}

.slick-dots {
  margin-top: 72px;
  position: absolute;
  bottom: 5%;
  left: 5%;
  cursor: pointer;
}

.slick-dots li {
  font-size: 0;
  border: 0;
  outline: none;
  background: transparent;
  height: 8px;
  width: 40px;
  background-color: #cccccc;
  margin-left: 19px;
  display: inline-block;
}

.slick-dots li.slick-active {
  background-color: #ffffff;
}

.slick-dots li.slick-active:first-child {
  margin-left: 0;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slider-btn {
  position: absolute;
  z-index: 1000;
  top: 50%;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  width: 48px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid #ffffff;
}

.slider-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.slider-btn_prev {
  left: 5%;
}

.slider-btn_prev::after, .slider-btn_next::after {
  content: '';
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-40deg);
          transform: translate(-50%, -50%) rotate(-40deg);
  height: 2px;
  width: 16.3px;
  background-color: #ffffff;
}

.slider-btn_prev::before, .slider-btn_next::before {
  content: '';
  position: absolute;
  height: 2px;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(40deg);
          transform: translate(-50%, -50%) rotate(40deg);
  width: 16.3px;
  background-color: #ffffff;
}

.slider-btn_next {
  right: 5%;
}

.slider-btn_next::after {
  left: 55%;
  -webkit-transform: translate(-50%, -50%) rotate(40deg);
          transform: translate(-50%, -50%) rotate(40deg);
}

.slider-btn_next::before {
  left: 55%;
  -webkit-transform: translate(-50%, -50%) rotate(-40deg);
          transform: translate(-50%, -50%) rotate(-40deg);
}

.burger__item {
  width: 40px;
  height: 4px;
  display: block;
  background-color: #cccccc;
  position: relative;
  margin-bottom: 10px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.burger-open {
  position: absolute;
  z-index: 1;
  top: 4px;
  right: 23px;
  z-index: 101;
}

.burger-open .burger__item {
  -webkit-transform: rotate(-51deg) translate(-23.3px, 12px);
          transform: rotate(-51deg) translate(-23.3px, 12px);
}

.burger-open .burger__item:nth-child(2) {
  opacity: 0;
}

.burger-open .burger__item:nth-child(3) {
  -webkit-transform: rotate(49deg) translate(-4px, 2.1px);
          transform: rotate(49deg) translate(-4px, 2.1px);
}

@media (max-width: 1026px) {
  .intro__right {
    display: none;
  }
}

@media (max-width: 800px) {
  .intro__title {
    font-size: 40px;
    line-height: 50px;
  }
  .intro__left {
    padding-left: 90px;
  }
}

@media (max-width: 560px) {
  .intro__title {
    font-size: 30px;
    line-height: 50px;
  }
  .intro__left {
    padding-left: 20px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 1199.98px) {
  .header {
    position: absolute;
    padding-top: 10px;
    height: 80px;
    width: 100%;
    top: 0;
    left: 50%;
    z-index: 2;
    -webkit-transform: translatex(-50%);
            transform: translatex(-50%);
    background-color: #0d213f;
    border-bottom: 3px solid #0D213F;
    z-index: 10000;
  }
  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu_open {
    left: 50% !important;
  }
  .menu {
    display: block;
    position: absolute;
    top: 100%;
    padding-top: 40px;
    left: -10000px;
    -webkit-transform: translatex(-50%);
            transform: translatex(-50%);
    background-color: #0D213F;
    width: 100%;
    padding: 20px 0 40px 0;
  }
  .menu__list {
    text-align: center;
  }
  .menu__item {
    padding: 0 20px;
    width: 260px;
    margin: 25px auto 0;
  }
  .menu__item_down {
    position: relative;
  }
  .menu__item_down::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 1%;
    -webkit-transform: translatey(-50%);
            transform: translatey(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #ffffff transparent transparent transparent;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .menu__item_down:hover::before {
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #ffffff transparent;
  }
  .menu__link {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
  }
  .slider__btn_open {
    z-index: 0;
  }
  .submenu_open {
    padding-top: 20px;
    max-height: none !important;
  }
  .submenu {
    text-align: center;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .submenu__item {
    padding: 15px 0 10px 15px;
    background-color: #0D213F;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .submenu__item:hover {
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
  }
  .submenu__link {
    font-size: 13px;
    letter-spacing: 2px;
    color: #ffffff;
    font-weight: 300;
  }
  .scroll-down {
    display: none;
  }
  .header__burger {
    display: block;
  }
}

@media (min-width: 1200px) {
  .menu__item_down {
    position: relative;
  }
  .menu__item_down::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: transparent;
    top: 14px;
    left: 50%;
  }
  .header {
    position: fixed;
    padding-top: 10px;
    height: 80px;
    width: 100%;
    top: 0;
    left: 50%;
    z-index: 2;
    -webkit-transform: translatex(-50%);
            transform: translatex(-50%);
    background-color: #0d213f;
    border-bottom: 3px solid #0D213F;
    z-index: 10000;
  }
  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .slider-btn {
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  .menu {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .menu__item {
    position: relative;
    margin-right: 40px;
    padding: 0 5px;
  }
  .menu__item:last-child {
    margin-right: 0;
  }
  .menu__item::after {
    content: '';
    position: absolute;
    top: 43px;
    left: 50%;
    height: 3px;
    width: 0;
    -webkit-transform: translatex(-50%);
            transform: translatex(-50%);
    background-color: #ffffff;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
  }
  .menu__item:hover::after {
    width: 110%;
  }
  .menu__item span {
    position: absolute;
    top: 43px;
    left: 50%;
    height: 3px;
    width: 0;
    -webkit-transform: translatex(-50%);
            transform: translatex(-50%);
    background-color: #ffffff;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
  }
  .menu__item_active span {
    width: 100%;
  }
  .menu__item_active::after {
    width: 110%;
  }
  .menu__link {
    font-size: 13px;
    letter-spacing: 2px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
  }
  .menu__link:hover {
    opacity: .8;
  }
  .menu__item_down {
    position: relative;
  }
  .menu__item_down::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: transparent;
    top: 14px;
    left: 50%;
  }
  .menu__item_down {
    position: relative;
  }
  .menu__item_down::before {
    content: '';
    position: absolute;
    left: 110%;
    top: 50%;
    -webkit-transform: translatey(-50%);
            transform: translatey(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #ffffff transparent transparent transparent;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .menu__item_down:hover::before {
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #ffffff transparent;
  }
  .menu__item_down:hover .submenu {
    top: 20px;
  }
  .submenu {
    display: block;
    position: absolute;
    text-align: left;
    top: -222222220px;
    left: -50%;
    width: 300px;
    z-index: 10;
    padding-top: 20px;
    -webkit-transition: .2s ease;
    transition: .2s ease;
  }
  .submenu:last-child {
    left: -120%;
  }
  .submenu__item {
    padding: 15px 0 10px 15px;
    background-color: #0D213F;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .submenu__item:hover {
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
  }
  .submenu__link {
    font-size: 13px;
    letter-spacing: 2px;
    color: #ffffff;
    font-weight: 300;
  }
  .header__burger {
    display: none;
  }
}

.scroll-down {
  width: 66px;
  height: 66px;
  margin: 19px auto 0;
  border: 1px solid #ffffff;
  border-radius: 50%;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  z-index: 1001;
}

.scroll-down:hover {
  background-color: #0D213F;
}

.scroll-down::after {
  content: '';
  position: absolute;
  -webkit-animation: 2s ease infinite arrowdown;
          animation: 2s ease infinite arrowdown;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-13%, -50%) rotate(-50deg);
          transform: translate(-13%, -50%) rotate(-50deg);
  height: 2px;
  width: 20px;
  background-color: #ffffff;
}

.scroll-down::before {
  content: '';
  position: absolute;
  -webkit-animation: 2s ease infinite arrowdown;
          animation: 2s ease infinite arrowdown;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-76%, -50%) rotate(-130deg);
          transform: translate(-76%, -50%) rotate(-130deg);
  height: 2px;
  width: 20px;
  background-color: #ffffff;
}

@-webkit-keyframes arrowdown {
  0% {
    top: 15%;
  }
  100% {
    top: 80%;
  }
}

@keyframes arrowdown {
  0% {
    top: 15%;
  }
  100% {
    top: 80%;
  }
}

.list-dash::before {
  content: '';
  position: absolute;
  top: 29px;
  left: 10px;
  width: 40px;
  height: 3px;
  background-color: #cccccc;
  -webkit-box-shadow: 1px 3.5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 3.5px 5px rgba(0, 0, 0, 0.2);
}

.title-box {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 40px;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-box::before {
  content: '';
  height: 1px;
  width: 30%;
  margin-right: 20px;
  background-color: #000000;
}

.title-box::after {
  content: '';
  top: 50%;
  height: 1px;
  margin-left: 30px;
  width: 30%;
  background-color: #000000;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #EFF0FC;
}

.about {
  padding: 150px 0 100px;
  width: 100%;
}

.about__top {
  text-align: center;
  padding-bottom: 60px;
  position: relative;
}

.about__top::after {
  content: '';
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: black;
}

.about__title {
  background-size: contain;
  z-index: 2;
  position: relative;
}

.about__title_letter {
  position: absolute;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  z-index: 1;
  width: 200px;
  height: auto;
}

.about__title.title-box::before {
  top: 50%;
  right: 58%;
  margin-right: 30px;
}

.about__row {
  max-width: 862px;
  margin: 100px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__item {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.about__item_icon {
  margin: 20px auto;
}

.about__item_text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.about__left_title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 5%;
  text-transform: uppercase;
  text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.3);
}

.about__left_list-item {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 4%;
  margin-top: 30px;
  padding-left: 30px;
  position: relative;
}

.about__left_list-item::before {
  content: url(../img/main/check.png);
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
}

.about__left_list-item:first-child {
  margin-top: 0;
}

.about__btn {
  display: inline-block;
  background-color: #0D213F;
  color: #ffffff;
  margin-top: 40px;
  font-size: 14px;
  padding: 20px;
  line-height: 20px;
  text-transform: uppercase;
  -webkit-box-shadow: -3px 4px 0 rgba(0, 0, 0, 0.3);
          box-shadow: -3px 4px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.about__btn:hover {
  background-color: #09162a;
}

.about__btn:active {
  position: relative;
  top: 4px;
  left: -3px;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
}

.about__right_title {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
}

.about__right_btns {
  margin-top: 20px;
  text-align: center;
  color: #ffffff;
}

.about__right_btn {
  margin-top: 30px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 4%;
  font-weight: 300;
  padding: 10px 20px;
  background-color: #0D213F;
  -webkit-box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
}

.about__right_btn:hover {
  background-color: #09162a;
}

.about__right_btn:active {
  position: relative;
  top: 2px;
  left: 3px;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
}

@media (max-width: 767.98px) {
  .about__left {
    padding-left: 0;
  }
  .about__row {
    display: block;
  }
  .about__item {
    margin-top: 40px;
  }
}

@media (max-width: 991.98px) {
  .about__body {
    padding-top: 80px;
    margin: 0 auto;
  }
  .about__left {
    text-align: center;
  }
  .about__left_box {
    margin-top: 51px;
    background-color: #ffffff;
    padding: 20px;
    -webkit-box-shadow: 2px 2px 0px rgba(204, 204, 204, 0.5);
            box-shadow: 2px 2px 0px rgba(204, 204, 204, 0.5);
    font-weight: 400;
  }
  .about__right {
    margin-top: 40px;
    text-align: center;
  }
  .about__right_more {
    margin: 30px 0 0 0;
  }
}

@media (min-width: 992px) {
  .about__body {
    padding-top: 80px;
  }
  .about__body .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about__left {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding-left: 50px;
  }
  .about__left_box {
    margin-top: 51px;
    max-width: 372px;
    background-color: #ffffff;
    padding: 20px;
    -webkit-box-shadow: 2px 2px 0px rgba(204, 204, 204, 0.5);
            box-shadow: 2px 2px 0px rgba(204, 204, 204, 0.5);
    font-weight: 400;
  }
  .about__left_title {
    max-width: 571px;
  }
  .about__right {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-left: 100px;
  }
  .about__right_dots {
    width: 323px;
  }
  .about__right_more {
    margin: 77px 0 0 50px;
  }
  .about__right_btn {
    max-width: 251px;
  }
}

.footer__row_blue {
  background-color: #0D213F;
}

.footer__row_blue .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__column {
  text-align: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  padding: 20px 10px;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item_icon {
  margin-right: 20px;
}

.footer__item_link {
  color: #ffffff;
  line-height: 24px;
  text-transform: uppercase;
}

.footer__row_black {
  background-color: #000000;
}

.footer__social {
  padding: 15px 0;
  border-right: 1px solid #0D213F;
  border-left: 1px solid #0D213F;
  text-align: center;
}

.footer__social_title {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  display: inline-block;
  position: relative;
}

.footer__social_title::before {
  content: '';
  height: 2px;
  top: 50%;
  right: 105%;
  width: 60px;
  background-color: #ffffff;
  position: absolute;
}

.footer__social_list {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social_item {
  margin-right: 40px;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer__social_item::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #cccccc;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  right: 140%;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer__social_item:last-child {
  margin-right: 0;
}

.footer__social_item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__social_item:hover::before {
  background-color: #666666;
}

@media (max-width: 687px) {
  .footer__row_blue .container {
    display: block;
  }
  .footer__column {
    border-bottom: 1px solid #000000;
  }
  .footer__column:last-child {
    border-bottom: none;
  }
}

@media (max-width: 413px) {
  .footer__social_title {
    font-size: 15px;
  }
  .footer__social_title::before {
    width: 28%;
  }
}

.join {
  padding-top: 150px;
}

.join__intro {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.6);
  height: 400px;
  position: relative;
}

.join__title {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: 6px;
  text-shadow: 5px 6px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 575.98px) {
  .join__title {
    font-size: 45px;
    line-height: 60px;
  }
}

.join-why {
  padding: 80px 0;
}

.join-why__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

.join-why__left {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-right: 50px;
}

.join-why__list {
  border-right: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  padding: 10px 0;
}

.join-why__item {
  border-bottom: 2px solid #ffffff;
  font-weight: 300;
  padding: 20px 15px 20px 60px;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 1px;
  position: relative;
}

.join-why__right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-left: 50px;
}

.join-why__right img {
  width: 100%;
}
