@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Roboto:300,400,500,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -khtml-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

a:visited, a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

ul-li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1315px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}

body {
  font-family: "Roboto", sans-serif;
}

.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #cccccc;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0d213f;
  border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

.intro {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro .intro-slider-bg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.intro__inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__inner .container {
  height: 100%;
}

.intro__body {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__left {
  padding: 0 5px 0 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__right {
  padding: 0 116px 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__img {
  width: 100%;
}

.intro__title {
  padding-bottom: 44px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 64px;
  line-height: 85px;
  letter-spacing: 6px;
  text-shadow: 5px 6px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  max-width: 531px;
}

.intro__title:after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  display: block;
  height: 2px;
  width: 165px;
  background-color: #ffffff;
}

.intro__subtitle {
  margin-top: 82px;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 6px;
  color: #ffffff;
  max-width: 80%;
}

.slider-bullets {
  position: absolute;
  left: 116px;
  bottom: 60px;
}

.slider-bullet {
  height: 8px;
  width: 40px;
  background-color: #cccccc;
  margin-left: 19px;
  display: inline-block;
}

.slider-bullet_active {
  background-color: #ffffff;
}

.slider-bullet:first-child {
  margin-left: 0;
}

.slider-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  width: 48px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid #ffffff;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.slider-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.slider-btn_prev {
  left: 0;
}

.slider-btn_prev::after, .slider-btn_next::after {
  content: '';
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-40deg);
          transform: translate(-50%, -50%) rotate(-40deg);
  height: 2px;
  width: 16.3px;
  background-color: #ffffff;
}

.slider-btn_prev::before, .slider-btn_next::before {
  content: '';
  position: absolute;
  height: 2px;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(40deg);
          transform: translate(-50%, -50%) rotate(40deg);
  width: 16.3px;
  background-color: #ffffff;
}

.slider-btn_next {
  right: 0;
}

.slider-btn_next::after {
  left: 55%;
  -webkit-transform: translate(-50%, -50%) rotate(40deg);
          transform: translate(-50%, -50%) rotate(40deg);
}

.slider-btn_next::before {
  left: 55%;
  -webkit-transform: translate(-50%, -50%) rotate(-40deg);
          transform: translate(-50%, -50%) rotate(-40deg);
}

.header {
  position: fixed;
  padding-top: 10px;
  height: 80px;
  width: 100%;
  top: 0;
  left: 50%;
  z-index: 2;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  background-color: rgba(13, 33, 63, 0.8);
  border-bottom: 3px solid #0D213F;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__link {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 300;
}

.submenu {
  display: none;
}
