@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamPro-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: optional;
}
html{
    box-sizing: border-box;
}
*,*:after,*:before{
    box-sizing: inherit;
}
html{
    line-height: none;
}
ul{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Gotham', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
    line-height: 1.42em;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
.header .container{
    display: flex;
    justify-content: space-between;
}
.header{
    background-color: #27273e;
    padding: 9px 0;
}
.header__left{
    margin-left: 19px;
}
.header__right{
    margin-right: 19px;
    text-align: right;
}
.contacts__phone{
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 21px;
    text-transform: uppercase;
}
.contacts__schedule{
    text-decoration: underline;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    color: #768abb;
    cursor: pointer;
    margin-top: 5px;
    display: block;
    transition: 0.3s;
}
.contacts__schedule:hover{
    color: #ab2165;
}
/*      ABOUT
========================================*/
.about .container{
    display: flex;
    justify-content: space-between;
}
.about__menu{
    max-width: 200px;
}
.menu__list {
    list-style: none;
    margin-top: 47px;
}
.menu__items{
    margin-top: 30px;
    margin-left: 20px;
}
.menu__item{
    text-decoration: none;
    font-family: 'Gotham';
    color: #ee2d82;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    display: flex;
    align-items: center;
}
.menu__item:hover{
    opacity: 0.7;
}
.menu__item2:hover .menu__icon2{
    content: url(../img/about/team.png);

}
.menu__item2:hover{
    text-decoration: underline;
}
.menu__item3:hover{
    text-decoration: underline;
}
.menu__item:hover{
    text-decoration: underline;
}
.menu__item3:hover .menu__icon3{
    content: url(../img/about/reviews.png);
}
.menu__icon{
    margin-right: 20px;
}
.menu__item_active{
    color: #343131;
}

.about__about-company {
    max-width: 881px;
    margin-right: 20px;
}
.about__content{
    margin-top: 28px;
}
.about__bg{
    background-image: url(../img/about/about.jpg);
    z-index: 1;
    width: 100%;
    height: 354px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.about__title{
    color: #ffffff;
    position: absolute;
    font-size: 49px;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 4;
    top: 150px;
    left: 66px;
}
.about__content {
    width: 80%;
}
.contetn__paragraph{
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}
.content__list-title{
    font-size: 18px;
}
.content__list{
    margin-left: 40px;
    line-height: 30px;
}
.contetn__offer {
    background-color: #27273e;
    padding: 20px 0 16px 0;
    width: 85%;
}
.content__offer_text {
    color: #fff;
    width: 80%;
    line-height: 30px;
    margin-left: 30px;

}
.content__offer_text span{
    color: #ec1e79;
}


.partners{
    max-width: 700px;
    margin: 0 auto;
}
.partners__title{
    color: #221f1f;
    font-size: 49px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 59px;
}
.partners__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 62px;
}
.partners__item5{
    margin-right: 60px;
}
.partners__item6{
    margin-right: 40px;
}
.footer{
    padding: 10px 0;
    background-color: #27273e;
    margin-top: 40px;
}
.footer__column{
    width: 30%;
    text-align: center;
}
.footer .container{
    display: flex;
    justify-content: space-between;
}
.footer__icons{
    margin-right: 50px;
    margin-top: 10px;
    margin-left: 30px;
}

.social__icon{
    background-color: #d4d4d8;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
.social__icon:last-child{
    margin-right: 0;
}
.icon_vk{
    background-image: url(../img/footer/vk.png);
    height: 20px;
}
.icon_vk:hover{
    background-color: #eb1e79;
}
.icon_fb{
    background-image: url(../img/footer/fb.png);
    height: 20px;
}
.icon_fb:hover{
    background-color: #eb1e79;
}
.icon_gp{
    background-image: url(../img/footer/gp.png);
    height: 20px;
}
.icon_gp:hover{
    background-color: #eb1e79;
}
.icon_tw{
    background-image: url(../img/footer/tw.png);
    height: 20px;
}
.icon_tw:hover{
    background-color: #eb1e79;
}
.icon_mail{
    background-image: url(../img/footer/mail.png);
    height: 20px;
}
.icon_mail:hover{
    background-color: #eb1e79;
}

.footer__social_title{
    color: #fff;
}
.footer__author{
    color: #d0d0d5;
}
.footer__author span{
    color: #fff;
    font-weight: 700;
}
