@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap");
h1, h2, h3,
html, body,
ul, p {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

button {
  border: none;
  padding: 0;
  margin: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Oswald", sans-serif;
  font-size: 1.25rem; }

.quiz-form {
  width: 100%;
  max-width: 40rem;
  margin-inline: auto; }
  .quiz-form__title-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    color: #5f5f5f;
    font-weight: 900;
    margin-bottom: 2rem; }
  .quiz-form__num {
    font-size: 1.5rem;
    line-height: 1.6rem; }
  .quiz-form__title {
    margin-left: 0.8ch;
    line-height: 1.8rem; }
  .quiz-form__radio-box {
    width: 90%;
    margin-left: 1.7rem; }
  .quiz-form__label {
    display: block;
    border: 2px solid #76c4ba;
    border-radius: 1rem;
    padding: 0 2.5rem;
    margin-bottom: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer; }
  .quiz-form__label:last-child {
    margin-bottom: 0; }
  .quiz-form__label_text {
    display: inline-block;
    color: #76c4ba;
    font-size: 2.2rem;
    font-weight: 300; }
  .quiz-form__btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 3rem; }
  .quiz-form__btn {
    display: block;
    background-color: #3c5e46;
    padding: 0.3rem 0.2rem;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    border-radius: 1rem 1rem 1rem 1rem;
    text-align: center;
    vertical-align: middle; }
    .quiz-form__btn > span {
      vertical-align: middle;
      font-size: 1rem;
      letter-spacing: 1px; }
    .quiz-form__btn_svg {
      vertical-align: middle;
      padding: 0;
      margin: 0;
      width: 1.8rem;
      height: 1.8rem;
      stroke: #fff; }
.quiz-form__btn:first-child{margin-right:1rem;}
    .quiz-form__btn-not-active {
      background-color: #606060; }
    .quiz-form__btn_forward > svg {
      margin-left: 1rem; }
    .quiz-form__btn_forward > span {
      margin-left: 2.9rem; }
    .quiz-form__btn_back > svg {
      margin-right: 1rem; }
    .quiz-form__btn_back > span {
      margin-right: 2.9rem; }
  .quiz-form__radio {
    display: none; }
  .quiz-form__radio_custom-radio {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    border: 2px solid #76c4ba;
    border-radius: 100%;
    height: 1.5rem;
    width: 1.5rem; }
    .quiz-form__radio_custom-radio > svg {
      opacity: 0;
      stroke: #76c4ba;
      height: 1rem;
      width: 2rem; }
      .quiz-form__radio_custom-radio > svg > path {
        height: 1rem;
        width: 1rem; }
  .quiz-form__radio:checked + .quiz-form__radio_custom-radio > svg {
    -webkit-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
    opacity: 1; }
