*
   padding: 0
   margin: 0
   border: 0
   -moz-box-sizing: border-box
   -webkit-box-sizing: border-box
   box-sizing: border-box

   &:before, &:after
      -moz-box-sizing: border-box
      -webkit-box-sizing: border-box
      box-sizing: border-box

\:focus, :active
      outline: none

a
   &:focus, &:active
      outline: none

nav, footer, header, aside
   display: block

html, body
   height: 100%
   width: 100%
   font-size: 100%
   line-height: 1
   font-size: 14px
   -ms-text-size-adjust: 100%
   -moz-text-size-adjust: 100%
   -webkit-text-size-adjust: 100%
   -khtml-text-size-adjust: 100%

input, button, textarea
   font-family: inherit

input::-ms-clear
   display: none

button
   cursor: pointer
   background: none

   &::-moz-focus-inner
      padding: 0
      border: 0

a
   text-decoration: none

   &:visited, &:hover
      text-decoration: none
ul
   list-style: none
ul-li
      list-style: none

img
   vertical-align: top

h1, h2, h3, h4, h5, h6
   font-size: inherit
   font-weight: inherit

//RESET ======================
//FONTS ======================
//FONTS ======================
// VARS ======================
$fontRoboto: 'Roboto', sans-serif
$fontRaleway: 'Raleway', sans-serif
$mww: 1300px
$mw: $mww + 15px
// MEDIA =======
$media-min-sm: 576px
$media-min-md: 768px
$media-min-lg: 992px
$media-min-xl: 1200px

$media-max-sm: 575.98px
$media-max-md: 767.98px
$media-max-lg: 991.98px
$media-max-xl: 1199.98px
// MEDIA =======
// COLOR =======
$white: #ffffff
$grey: #cccccc
$black: #000000
$mainColor: #0D213F
$bgColor: #EFF0FC
// COLOR =======
// VARS ======================
// MAIN SETTINGS ======================
.wrapper
   width: 100%
   min-height: 100%
   overflow: hidden
   display: flex
   flex-direction: column

.container
   max-width: $mw
   margin: 0 auto
   width: 100%
   padding: 0 10px
body
   font-family: $fontRoboto
// SCROLL BAR ===========
/* width */
::-webkit-scrollbar
   width: 8px

/* Track */
::-webkit-scrollbar-track 
   background-color: rgba(#cccccc, 1)
   border-radius: 10px

/* Handle */
::-webkit-scrollbar-thumb 
   background: rgba(#0D213F, .7)
   border-radius: 10px

::-webkit-scrollbar-track-piece
   background-color: transparent
// SCROLL BAR ===========

// INTRO ============================
.intro
   flex: 1 1 auto
   display: flex
   position: relative
   .intro-slider-bg
      width: 100%
      flex: 0 0 100%
      background-size: cover
      background-position: center
      background-color: rgba(#000000, .3)
      background-blend-mode: multiply
   &__inner
      height: 100%
      display: flex
      flex-direction: column
      justify-content: center
   &__inner .container
      height: 100%
   &__body
      position: relative
      height: 100%
      display: flex
      justify-content: space-between
   &__left
      padding: 0 5px 0 116px
      display: flex
      position: relative
      flex-direction: column
      justify-content: center
   &__right
      padding: 0 116px 0 5px
      display: flex
      justify-content: center
      align-items: center
   &__img
      width: 100%
   &__title
      padding-bottom: 44px
      font-family: $fontRaleway
      font-weight: 500
      color: $white
      font-size: 64px
      line-height: 85px
      letter-spacing: 6px
      text-shadow: 5px 6px 10px rgba(#000000, 0.3)
      position: relative
      max-width: 531px
      &:after
         content: ''
         position: absolute
         left: 0
         top: 100%
         display: block
         height: 2px
         width: 165px
         background-color: $white
   &__subtitle
      margin-top: 82px
      font-weight: 300
      font-size: 20px
      line-height: 30px
      letter-spacing: 6px
      color: $white
      max-width: 80%
// Slider Style ===
.slick-track
   height: 100%
.slider-wrapper
   width: 100%
   height: 100%
.slick-dots
   margin-top: 72px
   position: absolute
   bottom: 5%
   left: 11%
   cursor: pointer
   & li
      font-size: 0
      border: 0
      outline: none
      background: transparent
      height: 8px
      width: 40px
      background-color: $grey
      margin-left: 19px
      display: inline-block
      & .slick-active
         background-color: $white
      &:first-child
         margin-right: 0
.slick-dots li button
   margin-left: 0
   font-size: 0
   line-height: 0
   display: block
   width: 20px
   height: 20px
   padding: 5px
   cursor: pointer
   color: transparent
   border: 0
   outline: none
   background: transparent


.slider-btn
   position: absolute
   z-index: 1000
   top: 50%
   transform: translatey(-50%)
   width: 48px
   height: 48px
   background-color: rgba($black, .3)
   border: 1px solid $white
   &:hover
      background-color: rgba($black, .7)
   &_prev
      left: 5%
   &_prev, &_next
      &::after
         content: ''
         position: absolute
         top: 45%
         left: 50%
         transform: translate(-50%, -50%) rotate(-40deg)
         height: 2px
         width: 16.3px
         background-color: $white
      &::before
         content: ''
         position: absolute
         height: 2px
         top: 65%
         left: 50%
         transform: translate(-50%, -50%) rotate(40deg)
         width: 16.3px
         background-color: $white
   &_next
      right: 5%
      &::after
         left: 55%
         transform: translate(-50%, -50%) rotate(40deg)
      &::before
         left: 55%
         transform: translate(-50%, -50%) rotate(-40deg)
// Slider Style ===
// HEADER ===
.burger__item
   width: 40px
   height: 4px
   display: block
   background-color: $grey
   position: relative
   margin-bottom: 10px
   transition: .3s ease

.burger-open
      position: absolute
      z-index: 1
      top: 4px
      right: 23px
      z-index: 101
      & .burger__item
         transform: rotate(-51deg) translate(-23.3px, 12px)
         &:nth-child(2)
            opacity: 0
         &:nth-child(3)
            transform: rotate(49deg) translate(-4px, 2.1px)
// HEADER ===
// MENU ===



// MEDIA
@media ( max-width:1026px  )
   .intro__right
      display: none
@media ( max-width:800px  )
   .intro__title
      font-size: 40px
      line-height: 50px
   .intro__left
      padding-left: 90px
@media ( max-width:560px  )
   .intro__title
      font-size: 30px
      line-height: 50px
   .intro__left
      padding-left: 20px
      flex-basis: 100%
@media ( max-width:$media-max-xl  )
   .header
      position: fixed
      padding-top: 10px
      height: 80px
      width: 100.5%
      top: 0
      left: 50%
      z-index: 2
      transform: translatex(-50%)
      background-color: rgba($mainColor, 1)
      border-bottom: 3px solid $mainColor
      z-index: 10000
      &__inner
         display: flex
         align-items: center
         justify-content: space-between
      &_open
         height: 100%
         overflow-y: scroll
   .menu_open
      left: 50% !important
   .menu
      display: block
      position: absolute
      top: 24%
      left: -10000px
      transform: translatex(-50%)
      background-color: $mainColor
      width: 321px
      transition: .3s
      &__list
         text-align: center
      &__item
         padding: 0 20px
         width: 100%
         margin: 25px auto 0 
         &_down
            position: relative
            &::before
               content: ''
               position: absolute
               top: 10px
               left: 1%
               transform: translatey(-50%)
               width: 0
               height: 0
               border-style: solid
               border-width: 5px 5px 0 5px
               border-color: $white transparent transparent transparent
               transition: .3s
            &:hover
               &::before
                  border-width: 0 5px 5px 5px
                  border-color: transparent transparent $white transparent
      &__link
         text-transform: uppercase
         color: $white
         font-size: 20px
   .slider__btn_open
         z-index: 0
   .submenu_open
      padding-top: 20px
      max-height: none !important

   .submenu
      text-align: center
      overflow: hidden
      max-height: 0
      transition: .3s ease-in-out
      &__item
         padding: 15px 0 10px 15px
         background-color: $mainColor
         border-bottom: 1px solid $black
         border-top: 1px solid $black
         transition: .3s
         &:hover
            border-bottom: 1px solid $white
            border-top: 1px solid $white
      &__link
         font-size: 13px
         letter-spacing: 2px
         color: $white
         font-weight: 300
   .scroll-down
      display: none
   .header__burger
      display: block
@media ( min-width:760px  )
   .scroll-down
      display: block
@media ( min-width:$media-min-xl  )
   .menu__item_down
      position: relative
      &::after
         content: ''
         position: absolute
         width: 100%
         height: 30px
         background-color: transparent
         top: 14px
         left: 50%
   .header
      position: fixed
      padding-top: 10px
      height: 80px
      width: 100%
      top: 0
      left: 50%
      z-index: 2
      transform: translatex(-50%)
      background-color: rgba($mainColor, 1)
      border-bottom: 3px solid $mainColor
      z-index: 10000
      &__inner
         display: flex
         align-items: center
         justify-content: space-between
   .slider-btn
      transition: .3s ease
   .menu
      flex-basis: 90%
      &__list
         display: flex
         justify-content: flex-end
      &__item
         position: relative
         margin-right: 40px
         padding: 0 5px
         &:last-child
            margin-right: 0
         &::after
            content: ''
            position: absolute
            top: 43px
            left: 50%
            height: 3px
            width: 0   
            transform: translatex(-50%)
            background-color: $white
            transition: width .5s ease
         &:hover
            &::after
               width: 110%   
         & span
            position: absolute
            top: 43px
            left: 50%
            height: 3px
            width: 0   
            transform: translatex(-50%)
            background-color: $white
            transition: width .5s ease
         &_active
            & span
               width: 100%
            &::after
               width: 110% 
      &__link
         font-size: 13px
         letter-spacing: 2px
         color: $white
         text-transform: uppercase
         font-weight: 300
         &:hover  
            opacity: .8

   .menu__item_down
      position: relative
      &::after
         content: ''
         position: absolute
         width: 100%
         height: 30px
         background-color: transparent
         top: 14px
         left: 50%

   .menu__item_down
      position: relative
      &::before
         content: ''
         position: absolute
         left: 110% 
         top: 50%
         transform: translatey(-50%)
         width: 0
         height: 0
         border-style: solid
         border-width: 5px 5px 0 5px
         border-color: $white transparent transparent transparent
         transition: .3s
      &:hover
         &::before
            border-width: 0 5px 5px 5px
            border-color: transparent transparent $white transparent

   .menu__item_down:hover .submenu
      top: 20px

   .submenu
      display: block
      position: absolute
      text-align: left
      top: -222222220px
      left: -50%
      width: 300px
      z-index: 10
      padding-top: 20px
      transition: .2s ease
      &:last-child
         left: -120%
      &__item
         padding: 15px 0 10px 15px
         background-color: $mainColor
         border-bottom: 1px solid $black
         border-top: 1px solid $black
         transition: .3s
         &:hover
            border-bottom: 1px solid $white
            border-top: 1px solid $white
      &__link
         font-size: 13px
         letter-spacing: 2px
         color: $white
         font-weight: 300

   .header__burger
      display: none
   
// MENU ===
.scroll-down
   width: 66px 
   height: 66px 
   margin: 19px auto 0 
   border: 1px solid $white
   border-radius: 50% 
   position: relative
   transition: .3s
   position: absolute
   bottom: 20px
   left: 50%
   transform: translatex(-50%)
   z-index: 1001
   &:hover
      background-color: $mainColor
   &::after
      content: ''
      position: absolute
      animation: 2s ease infinite arrowdown
      top: 45%
      left: 50%
      transform: translate(-13%, -50%) rotate(-50deg)
      height: 2px
      width: 20px
      background-color: $white
   &::before
      content: ''
      position: absolute
      animation: 2s ease infinite arrowdown
      top: 45%
      left: 50%
      transform: translate(-76%, -50%) rotate(-130deg)
      height: 2px
      width: 20px
      background-color: $white

@keyframes arrowdown
   0%
      top: 15%
   100%
      top: 80%
// INTRO ============================

// ABOUT ============================
// Free BOX =====
.list-dash
   &::before
      content: ''
      position: absolute
      top: 29px
      left: 10px
      width: 40px
      height: 3px
      background-color: $grey
      box-shadow: 1px 3.5px 5px rgba($black, .2)

.title-box_3
   font-family: $fontRaleway
   font-weight: 500
   font-size: 50px
   color: $mainColor
   line-height: 60px
   text-transform: uppercase
   text-align: center
   text-shadow: 0px 4px 4px rgba($black, 0.25)

.title-box_2
   font-size: 30px
   line-height: 42px
   letter-spacing: 2px
   color: $black
   text-align: center
   max-width: 801px
   text-transform: uppercase
   position: relative
   &::after
      content: ''
      position: absolute
      top: 115%
      left: 50%
      transform: translatex(-50%)
      width: 20%
      height: 3px
      background-color: $grey
      box-shadow: 1px 3.5px 5px rgba($black, .2)

.title-box
   font-family: $fontRaleway
   color: $black
   font-size: 40px
   letter-spacing: 4px
   text-transform: uppercase
   text-align: center
   line-height: 50px
   text-shadow: 2px 2px 3px rgba($black, 0.2)
   display: flex
   justify-content: center
   align-items: center
   &::before
      content: ''
      height: 1.4px
      width: 30%
      margin-right: 20px
      background-color: $black
   &::after
      content: ''
      height: 1.4px
      margin-left: 30px
      width: 30%
      background-color: $black
// Free BOX =====
.main
   flex: 1 1 auto
   background-color: $bgColor
.about
   padding: 150px 0 100px
   width: 100%
   &__top
      text-align: center
      padding-bottom: 60px
      position: relative
      &::after
         content: ''
         height: 1px
         width: 100%
         position: absolute
         left: 0
         bottom: 0
         background-color: rgba($black, 1) 
   &__title
      background-size: contain
      z-index: 2
      position: relative
      &_letter
         position: absolute
         left: 50%
         transform: translatex(-50%)
         z-index: 1
         width: 200px
         height: auto
      &.title-box::before
         top: 50%
         right: 58%
         margin-right: 30px
   &__row
      max-width: 862px
      margin: 100px auto 0
      display: flex
      justify-content: space-between
   &__item
      flex-basis: 40%
      &_icon
         margin: 20px auto
      &_text
         font-family: $fontRoboto
         font-weight: 300
         font-size: 16px
         line-height: 20px
         letter-spacing: 2px
         text-transform: uppercase
   &__left
      &_title
         font-family: $fontRaleway
         font-weight: 500
         font-size: 30px
         line-height: 40px
         letter-spacing: 5%
         text-transform: uppercase
         text-shadow: 3px 2px 4px rgba($black, 0.3)
      
      &_list-item
         font-family: $fontRaleway
         font-size: 15px
         line-height: 18px
         letter-spacing: 4%
         margin-top: 30px
         padding-left: 30px
         position: relative
         &::before
            content: url(../img/main/check.png)
            position: absolute
            top: 2px
            left: 0
            width: 20px
         &:first-child
            margin-top: 0
   &__btn
      display: inline-block
      background-color: $mainColor
      color: $white
      margin-top: 40px
      font-size: 14px
      padding: 20px
      line-height: 20px
      text-transform: uppercase
      box-shadow: -3px 4px 0 rgba($black, 0.3)
      transition: .3s ease
      &:hover
         background-color: darken($mainColor, 5)
      &:active
         position: relative
         top: 4px
         left: -3px
         box-shadow: 0 0 0 rgba($black, 0.3)
   &__right
      &_title
         font-weight: 500
         font-size: 18px
         text-transform: uppercase
      &_btns
         margin-top: 20px
         text-align: center
         color: $white
      &_btn
         margin-top: 30px
         font-size: 15px
         line-height: 18px
         letter-spacing: 4%
         font-weight: 300
         padding: 10px 20px
         background-color: $mainColor
         box-shadow: 2px 3px 0 rgba($black, 0.3)
         transition: .3s ease
         cursor: pointer
         & a
            color: $white
            text-decoration: none
         &:hover
            background-color: darken($mainColor, 5)
         &:active
            position: relative
            top: 2px
            left: 3px
            box-shadow: 0 0 0 rgba($black, 0.3)



//MEDIA ===
@media ( max-width:$media-max-md )
   .about__left
      padding-left: 0
   .about__row
      display: block
   .about__item
      margin-top: 40px
@media ( max-width:$media-max-lg )
   .about
      &__body
         padding-top: 80px
         & .container
         margin: 0 auto
      &__left
         text-align: center
         &_box
            margin-top: 51px
            background-color: $white
            padding: 20px
            box-shadow: 2px 2px 0px rgba($grey, 0.5)
            font-weight: 400
      &__right
         margin-top: 40px
         text-align: center
         &_more
            margin: 30px 0 0 0
@media ( min-width:$media-min-lg )
   .about
      &__body
         padding-top: 80px
         & .container
            display: flex
            justify-content: space-between
      &__left
         flex-basis: 50%
         padding-left: 50px
         &_box
            margin-top: 51px
            max-width: 372px
            background-color: $white
            padding: 20px
            box-shadow: 2px 2px 0px rgba($grey, 0.5)
            font-weight: 400
         &_title
            max-width: 571px
      &__right
         flex-basis: 50%
         margin-left: 100px
         &_dots
            width: 323px
         &_more
            margin: 77px 0 0 50px
         &_btn
            max-width: 251px 
//MEDIA ===
// ABOUT ============================
// FOOTER ============================
.footer
   &__row_blue
      background-color: $mainColor
      & .container
         display: flex
         justify-content: space-between
   &__column
      text-align: center
      flex-basis: 50%
      border-left: 1px solid $black 
      border-right: 1px solid $black 
      padding: 20px 10px
   &__item
      display: flex
      justify-content: center
      align-items: center
      &_icon
         margin-right: 20px
      &_link
         color: $white
         line-height: 24px
         text-transform: uppercase
   &__row_black
      background-color: $black
   &__social
      padding: 15px 0
      border-right: 1px solid $mainColor 
      border-left: 1px solid $mainColor 
      text-align: center
      &_title
         color: $white
         text-transform: uppercase
         font-size: 20px
         display: inline-block
         position: relative
         &::before
            content: ''
            height: 2px
            top: 50%
            right: 105%
            width: 60px
            background-color: $white
            position: absolute
      &_list
         margin-top: 20px
         display: flex
         justify-content: center
         align-items: center
      &_item
         margin-right: 40px
         position: relative
         transition: .3s
         &::before
            content: ''
            width: 10px
            height: 10px
            background-color: $grey
            border-radius: 50%
            position: absolute
            top: 50%
            transform: translatey(-50%)
            right: 140%
            transition: .3s
         &:last-child
            margin-right: 0
         &:hover
            transform: scale(1.1)
            &::before
               background-color: darken($grey, 40%)

//MEDIA ===
@media ( max-width:687px  )
   .footer__row_blue .container
      display: block
   .footer__column
      border-bottom: 1px solid $black
      &:last-child
         border-bottom: none
@media ( max-width:413px  )
   .footer__social_title
      font-size: 15px
      &::before
         width: 28%
//MEDIA ===
// FOOTER ============================
// JOIN PAGE =================================================================================================================
.join
   padding-top: 150px
   &__intro
      background-repeat: no-repeat
      background-position: center
      background-size: cover
      background-blend-mode: multiply
      background-color: rgba($black, .6)
      height: 400px
      position: relative
   &__title
      position: absolute
      width: 100%
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      text-align: center
      font-family: $fontRaleway
      font-weight: 500
      color: $white
      font-size: 64px
      line-height: 75px
      letter-spacing: 6px
      text-shadow: 5px 6px 10px rgba($black, 0.3)
//MEDIA ====
@media ( max-width:$media-max-sm  )
   .join__title
      font-size: 45px
      line-height: 60px         
//MEDIA ====
// JOIN WHY =================================================

.join-why
   padding: 80px 0
   &__body
      display: flex
      margin-top: 60px
      align-items: center
   &__left
      flex-basis: 50%
      margin-right: 50px
   &__list
      border-right: 2px solid $white 
      border-left: 2px solid $white 
      padding: 10px 0
   &__item
      border-bottom: 2px solid $white
      font-weight: 300
      padding: 20px 15px 20px 60px
      font-size: 17px
      line-height: 20px
      letter-spacing: 1px
      position: relative
   &__right
      flex-basis: 50%
      margin-left: 50px
      & img
         width: 100%
// MEDIA ====
@media ( max-width:$media-max-xl  )
   .join-why__title
      font-size: 30px
      line-height: 35px
   .join-why__body
      display: block
      margin-top: 35px
   .join-why__left
      margin-right: 0
   .join-why__right
      display: none
// MEDIA ====
// JOIN WHY =================================================
// JOIN JOIN =================================================
.join-join
   padding: 10px 0 80px
   &__title
      margin: 0 auto
   &__item
      text-align: center
      margin-top: 80px
   &__subtitle
      font-size: 25px
      line-height: 38px
      font-weight: 300
      margin-top: 80px
      &:first-child
         margin-top: 0
   &__cards
      margin-top: 40px
      font-size: 18px
   &__row
      display: flex
      justify-content: center
      margin-top: 40px
      &:first-child
         margin-top: 0
   &__card
      flex: 0 1 310px
      background-color: $white
      padding: 20px 5px
      box-shadow: 0px 4px 4px rgba($black, 0.25)
      border: 1px solid rgba($black, 0.2)
      &_icon
         & img
            height: 97px
      &_title
         font-family: $fontRaleway
         text-transform: uppercase
         margin-top: 30px
         line-height: 25px
         position: relative
         padding: 0 20px 0
         &::before
            content: ''
            position: absolute
            top: 120%
            left: 50%
            width: 80%
            height: 1px
            background-color: $grey
            transform: translatex(-50%)
      &_person
         margin-top: 30px
         font-style: 16px
         font-weight: 300
      &_name
         margin-top: 10px
         text-transform: uppercase
         font-weight: 500
      &_contact
         margin-top: 20px
         &:hover .phone path
            transition: .3s ease-in-out
            fill: lighten($mainColor, 30%)

      &_number
         color: $black
         margin-right: 40px
      &_phone
         display: inline-block
         vertical-align: middle
         margin-right: 20px
@media ( max-width:$media-max-lg  )
   .join-join__title
      font-size: 28px
   .join-join__row
      display: block
   .join-join__card
      margin: 40px auto 0
      max-width: 320px
@media ( min-width:$media-min-lg  )
   .join-join__card
      margin-right: 40px
      &:last-child
         margin-right: 0
// JOIN JOIN =================================================
// JOIN PAGE ===========================================================================================================================
// FUNCTIONS PAGE ===========================================================================================================================
.functions
   padding: 120px 0 80px 0
   text-align: center
   &__cards
      margin-top: 60px
      display: flex
      justify-content: center
   &__left
      max-width: 400px
   &__card
      background-color: rgba($white, .4)
      padding: 20px 20px 20px 15px
      text-align: center
      max-width: 320px
      margin: 20px 25px
   &__icon
      height: 80px
      & img
         width: 100%
   &__list
      margin-top: 50px
      text-align: left
   &__item
      position: relative
      margin-top: 30px
      padding-left: 30px
      font-family: $fontRaleway
      font-weight: 300
      font-size: 15px
      line-height: 18px
      &:first-child
         margin-top: 0
      &.list-dash
         &::before
            width: 20px
            top: 8px
            left: -5px
   &__row
      display: flex
// MEDIA ===
@media ( max-width:$media-max-lg )
   .functions
      &__row
         display: block
      &__card
         margin-top: 40px
@media ( max-width:$media-max-md)
   .functions
      &__cards
         display: block
      &__row
         display: block
      &__card
         margin: 40px auto
      &__left
         max-width: none
   .title-box_3
      font-size: 40px
      line-height: 50px
// MEDIA ===
// FUNCTIONS PAGE ===========================================================================================================================
// HISTORY PAGE ===========================================================================================================================
.section-dash
   position: relative
   &::after
      content: ''
      height: 1px
      width: 200%
      position: absolute
      left: 0
      bottom: 0
      background-color: $black
.history
   padding: 120px 0 80px 0
   &__row
      margin-top: 70px
      display: flex
      justify-content: center
      position: relative
      flex-wrap: wrap
   &__text
      max-width: 500px      
      color: $black
      font-size: 20px
      font-weight: 500
      line-height: 25px
      margin: 0 30px
      & span
         font-weight: 700
         font-size: 20px
   &__img
      margin: 0 30px
      width: 429px
      & img
         width: 100%
// MEDIA ===
@media screen and ( max-width:1068px )
   .history__text
      margin: 20px
   .history__img
      order: -1
      margin: 20px

// MEDIA ===
// history-comp ==================  
.history-comp
   padding: 80px 0
   text-align: center
   &__title
      font-family: $fontRoboto
      font-size: 35px
      line-height: 45px
   &__row
      display: flex
      justify-content: center
      align-items: center
      margin-top: 50px
   &__card
      background-color: rgba($grey, .06)
      border: 0.5px solid $grey
      width: 320px
      padding: 20px
      font-size: 21px
      font-weight: 500
      margin: 0 20px
      text-transform: uppercase
      &_position
         margin: 10px 0
      &_year
         margin: 10px 0
      &_name
         margin: 10px 0
      &_photo
         max-width: 185px
         height: 178px
         border-radius: 12px
         & img
            width: 100%
   &__icon
      width: 140px
      margin: 0 20px
      & img
            width: 100%
      &_logo
         width: 250px
   &__achieve
      margin-top: 80px
      &_title
         font-weight: 500
         font-size: 28px
         text-transform: uppercase
      &_list
         margin-top: 50px
         text-align: left
         font-size: 18px
      &_item
         margin: 30px auto
         max-width: 855px
         padding: 0 30px 0 50px
         position: relative
         &.list-dash
            &::before
               top: 7px
               width: 30px
      &_text
         margin-top: 60px
         text-transform: uppercase
         font-size: 18px
         line-height: 25px
         font-weight: 500

// MEDIA ====
@media ( max-width:$media-max-lg  )
   .history-comp
      &__card
      &__icon
         display: none
@media ( max-width:$media-max-md  )
   .title-box
      font-size: 30px
      line-height: 35px
   .history-comp
      &__title
         margin-bottom: 70px
      &__row
         margin-top: 0
         flex-wrap: wrap
      &__card
         margin: 20px
// MEDIA ====
// history-comp ==================  
// HISTORY PAGE ===========================================================================================================================
