*
   padding: 0
   margin: 0
   border: 0
   -moz-box-sizing: border-box
   -webkit-box-sizing: border-box
   box-sizing: border-box

   &:before, &:after
      -moz-box-sizing: border-box
      -webkit-box-sizing: border-box
      box-sizing: border-box

\:focus, :active
      outline: none

a
   &:focus, &:active
      outline: none

nav, footer, header, aside
   display: block

html, body
   height: 100%
   width: 100%
   font-size: 100%
   line-height: 1
   font-size: 14px
   -ms-text-size-adjust: 100%
   -moz-text-size-adjust: 100%
   -webkit-text-size-adjust: 100%
   -khtml-text-size-adjust: 100%

input, button, textarea
   font-family: inherit

input::-ms-clear
   display: none

button
   cursor: pointer
   background: none

   &::-moz-focus-inner
      padding: 0
      border: 0

a
   text-decoration: none

   &:visited, &:hover
      text-decoration: none
ul
   list-style: none
ul-li
      list-style: none

img
   vertical-align: top

h1, h2, h3, h4, h5, h6
   font-size: inherit
   font-weight: inherit

//RESET ======================
//FONTS ======================
//FONTS ======================
// VARS ======================
$fontRoboto: 'Roboto', sans-serif
$fontRaleway: 'Raleway', sans-serif
$mww: 1300px
$mw: $mww + 15px
// MEDIA =======
$media-min-sm: 576px
$media-min-md: 768px
$media-min-lg: 992px
$media-min-xl: 1200px

$media-max-sm: 575.98px
$media-max-md: 767.98px
$media-max-lg: 991.98px
$media-max-xl: 1199.98px
// MEDIA =======
// COLOR =======
$white: #ffffff
$grey: #cccccc
$black: #000000
$mainColor: #0D213F
$bgColor: #EFF0FC
// COLOR =======
// VARS ======================
// MAIN SETTINGS ======================
.wrapper
   width: 100%
   min-height: 100%
   overflow: hidden
   display: flex
   flex-direction: column

.container
   max-width: $mw
   margin: 0 auto
   width: 100%
   padding: 0 10px
body
   font-family: $fontRoboto
// SCROLL BAR ===========
/* width */
::-webkit-scrollbar
   width: 10px

/* Track */
::-webkit-scrollbar-track 
   background-color: rgba(#cccccc, 1)
   border-radius: 10px

/* Handle */
::-webkit-scrollbar-thumb 
   background: rgba(#0D213F, 1)
   border-radius: 10px

::-webkit-scrollbar-track-piece
   background-color: transparent
// SCROLL BAR ===========

// INTRO ============================
.intro
   flex: 1 1 auto
   display: flex
   position: relative
   .intro-slider-bg
      width: 100%
      flex: 0 0 100%
      background-size: cover
      background-position: center
      background-color: rgba(#000000, .3)
      background-blend-mode: multiply
   &__inner
      height: 100%
      display: flex
      flex-direction: column
      justify-content: center
   &__inner .container
      height: 100%
   &__body
      position: relative
      height: 100%
      display: flex
      justify-content: space-between
   &__left
      padding: 0 5px 0 116px
      display: flex
      position: relative
      flex-direction: column
      justify-content: center
   &__right
      padding: 0 116px 0 5px
      display: flex
      justify-content: center
      align-items: center
   &__img
      width: 100%
   &__title
      padding-bottom: 44px
      font-family: $fontRaleway
      font-weight: 500
      color: $white
      font-size: 64px
      line-height: 85px
      letter-spacing: 6px
      text-shadow: 5px 6px 10px rgba(#000000, 0.3)
      position: relative
      max-width: 531px
      &:after
         content: ''
         position: absolute
         left: 0
         top: 100%
         display: block
         height: 2px
         width: 165px
         background-color: $white
   &__subtitle
      margin-top: 82px
      font-weight: 300
      font-size: 20px
      line-height: 30px
      letter-spacing: 6px
      color: $white
      max-width: 80%
// Slider Style ===
.slick-track
   height: 100%
.slider-wrapper
   width: 100%
   height: 100%
.slick-dots
   margin-top: 72px
   position: absolute
   bottom: 5%
   left: 5%
   cursor: pointer
   & li
      font-size: 0
      border: 0
      outline: none
      background: transparent
      height: 8px
      width: 40px
      background-color: $grey
      margin-left: 19px
      display: inline-block
      &.slick-active
         background-color: $white
         &:first-child
            margin-left: 0
.slick-dots li button
   font-size: 0
   line-height: 0
   display: block
   width: 20px
   height: 20px
   padding: 5px
   cursor: pointer
   color: transparent
   border: 0
   outline: none
   background: transparent


.slider-btn
   position: absolute
   z-index: 1000
   top: 50%
   transform: translatey(-50%)
   width: 48px
   height: 48px
   background-color: rgba($black, .3)
   border: 1px solid $white
   &:hover
      background-color: rgba($black, .7)
   &_prev
      left: 5%
   &_prev, &_next
      &::after
         content: ''
         position: absolute
         top: 45%
         left: 50%
         transform: translate(-50%, -50%) rotate(-40deg)
         height: 2px
         width: 16.3px
         background-color: $white
      &::before
         content: ''
         position: absolute
         height: 2px
         top: 65%
         left: 50%
         transform: translate(-50%, -50%) rotate(40deg)
         width: 16.3px
         background-color: $white
   &_next
      right: 5%
      &::after
         left: 55%
         transform: translate(-50%, -50%) rotate(40deg)
      &::before
         left: 55%
         transform: translate(-50%, -50%) rotate(-40deg)
// Slider Style ===
// HEADER ===
.burger__item
   width: 40px
   height: 4px
   display: block
   background-color: $grey
   position: relative
   margin-bottom: 10px
   transition: .3s ease

.burger-open
      position: absolute
      z-index: 1
      top: 4px
      right: 23px
      z-index: 101
      & .burger__item
         transform: rotate(-51deg) translate(-23.3px, 12px)
         &:nth-child(2)
            opacity: 0
         &:nth-child(3)
            transform: rotate(49deg) translate(-4px, 2.1px)
// HEADER ===
// MENU ===



// MEDIA
@media ( max-width:1026px  )
   .intro__right
      display: none
@media ( max-width:800px  )
   .intro__title
      font-size: 40px
      line-height: 50px
   .intro__left
      padding-left: 90px
@media ( max-width:560px  )
   .intro__title
      font-size: 30px
      line-height: 50px
   .intro__left
      padding-left: 20px
      flex-basis: 100%
@media ( max-width:$media-max-xl  )
   .header
      position: absolute
      padding-top: 10px
      height: 80px
      width: 100%
      top: 0
      left: 50%
      z-index: 2
      transform: translatex(-50%)
      background-color: rgba($mainColor, .8)
      border-bottom: 3px solid $mainColor
      z-index: 10000
      &__inner
         display: flex
         align-items: center
         justify-content: space-between
   .menu_open
      left: 50% !important
   .menu
      display: block
      position: absolute
      top: 100%
      padding-top: 40px
      left: -10000px
      transform: translatex(-50%)
      background-color: $mainColor
      width: 100%
      padding: 20px 0 40px 0
      &__list
         text-align: center
      &__item
         padding: 0 20px
         width: 260px
         margin: 25px auto 0 
         &_down
            position: relative
            &::before
               content: ''
               position: absolute
               top: 10px
               left: 1%
               transform: translatey(-50%)
               width: 0
               height: 0
               border-style: solid
               border-width: 5px 5px 0 5px
               border-color: $white transparent transparent transparent
               transition: .3s
            &:hover
               &::before
                  border-width: 0 5px 5px 5px
                  border-color: transparent transparent $white transparent
      &__link
         text-transform: uppercase
         color: $white
         font-size: 20px
   .slider__btn_open
         z-index: 0
   .submenu_open
      padding-top: 20px
      max-height: none !important

   .submenu
      text-align: center
      overflow: hidden
      max-height: 0
      transition: .3s ease-in-out
      &__item
         padding: 15px 0 10px 15px
         background-color: $mainColor
         border-bottom: 1px solid $black
         border-top: 1px solid $black
         transition: .3s
         &:hover
            border-bottom: 1px solid $white
            border-top: 1px solid $white
      &__link
         font-size: 13px
         letter-spacing: 2px
         color: $white
         font-weight: 300

   .scroll-down
      display: none
   .header__burger
      display: block
@media ( min-width:$media-min-xl  )
   .menu__item_down
      position: relative
      &::after
         content: ''
         position: absolute
         width: 100%
         height: 30px
         background-color: transparent
         top: 14px
         left: 50%
   .header
      position: fixed
      padding-top: 10px
      height: 80px
      width: 100%
      top: 0
      left: 50%
      z-index: 2
      transform: translatex(-50%)
      background-color: rgba($mainColor, .8)
      border-bottom: 3px solid $mainColor
      z-index: 10000
      &__inner
         display: flex
         align-items: center
         justify-content: space-between
   .slider-btn
      transition: .3s ease
   .menu
      flex-basis: 90%
      &__list
         display: flex
         justify-content: flex-end
      &__item
         position: relative
         margin-right: 40px
         padding: 0 5px
         &:last-child
            margin-right: 0
         &::after
            content: ''
            position: absolute
            top: 42px
            left: 50%
            height: 3px
            width: 0   
            transform: translatex(-50%)
            background-color: $white
            transition: width .5s ease
         &:hover
            &::after
               width: 110%   
         &_active
            &::after
               width: 110% 
      &__link
         font-size: 13px
         letter-spacing: 2px
         color: $white
         text-transform: uppercase
         font-weight: 300
         &:hover  
            opacity: .8

   .menu__item_down
      position: relative
      &::after
         content: ''
         position: absolute
         width: 100%
         height: 30px
         background-color: transparent
         top: 14px
         left: 50%

   .menu__item_down
      position: relative
      &::before
         content: ''
         position: absolute
         left: 110% 
         top: 50%
         transform: translatey(-50%)
         width: 0
         height: 0
         border-style: solid
         border-width: 5px 5px 0 5px
         border-color: $white transparent transparent transparent
         transition: .3s
      &:hover
         &::before
            border-width: 0 5px 5px 5px
            border-color: transparent transparent $white transparent

   .menu__item_down:hover .submenu
      top: 20px

   .submenu
      display: block
      position: absolute
      text-align: left
      top: -222222220px
      left: -50%
      width: 300px
      z-index: 10
      padding-top: 20px
      transition: .2s ease
      &:last-child
         left: -120%
      &__item
         padding: 15px 0 10px 15px
         background-color: $mainColor
         border-bottom: 1px solid $black
         border-top: 1px solid $black
         transition: .3s
         &:hover
            border-bottom: 1px solid $white
            border-top: 1px solid $white
      &__link
         font-size: 13px
         letter-spacing: 2px
         color: $white
         font-weight: 300

   .header__burger
      display: none
   
// MENU ===
.scroll-down
   width: 66px 
   height: 66px 
   margin: 19px auto 0 
   border: 1px solid $white
   border-radius: 50% 
   position: relative
   transition: .3s
   position: absolute
   bottom: 20px
   left: 50%
   transform: translatex(-50%)
   z-index: 1001
   &:hover
      background-color: $mainColor
   &::after
      content: ''
      position: absolute
      animation: 2s ease infinite arrowdown
      top: 45%
      left: 50%
      transform: translate(-13%, -50%) rotate(-50deg)
      height: 2px
      width: 20px
      background-color: $white
   &::before
      content: ''
      position: absolute
      animation: 2s ease infinite arrowdown
      top: 45%
      left: 50%
      transform: translate(-76%, -50%) rotate(-130deg)
      height: 2px
      width: 20px
      background-color: $white

@keyframes arrowdown
   0%
      top: 15%
   100%
      top: 80%
// INTRO ============================

// ABOUT ============================
// Free BOX =====
.title-box
   font-family: $fontRaleway
   color: $black
   font-size: 40px
   letter-spacing: 4px
   text-transform: uppercase
   line-height: 50px
   text-shadow: 2px 2px 3px rgba($black, 0.3)
   display: flex
   justify-content: center
   align-items: center
   &::before
      content: ''
      height: 1px
      width: 30%
      padding-left: 20px
      background-color: $black
   &::after
      content: ''
      top: 50%
      height: 1px
      margin-left: 30px
      width: 30%
      background-color: $black
// Free BOX =====
.main
   flex: 1 1 auto
   background-color: $bgColor
.about
   padding: 150px 0 50px
   width: 100%
   &__top
      text-align: center
      padding-bottom: 60px
      position: relative
      &::after
         content: ''
         height: 1px
         width: 100%
         position: absolute
         left: 0
         bottom: 0
         background-color: rgba($black, 1) 
   &__title
      background-size: contain
      z-index: 2
      position: relative
      &_letter
         position: absolute
         left: 50%
         transform: translatex(-50%)
         z-index: 1
         width: 200px
         height: auto
      &.title-box::before
         top: 50%
         right: 58%
         margin-right: 30px
   &__row
      max-width: 862px
      margin: 100px auto 0
      display: flex
      justify-content: space-between
   &__item
      flex-basis: 40%
      &_icon
         margin: 20px auto
      &_text
         font-family: $fontRoboto
         font-weight: 300
         font-size: 16px
         line-height: 20px
         letter-spacing: 2px
         text-transform: uppercase
   &__left
      &_title
         font-family: $fontRaleway
         font-weight: 500
         font-size: 30px
         line-height: 40px
         letter-spacing: 5%
         text-transform: uppercase
         text-shadow: 3px 2px 4px rgba($black, 0.3)
      
      &_list-item
         font-family: $fontRaleway
         font-size: 15px
         line-height: 18px
         letter-spacing: 4%
         margin-top: 30px
         padding-left: 30px
         position: relative
         &::before
            content: url(../img/main/check.png)
            position: absolute
            top: 2px
            left: 0
            width: 20px
         &:first-child
            margin-top: 0
   &__btn
      background-color: $mainColor
      color: $white
      margin-top: 40px
      font-size: 14px
      padding: 20px
      line-height: 20px
      text-transform: uppercase
      box-shadow: -3px 4px 0 rgba($black, 0.3)
      transition: .3s ease
      &:hover
         background-color: darken($mainColor, 5)
      &:active
         position: relative
         top: 4px
         left: -3px
         box-shadow: 0 0 0 rgba($black, 0.3)
   &__right
      &_dots
         width: 323px
      &_more
      &_title
         font-weight: 500
         font-size: 18px
         text-transform: uppercase
      &_btns
         margin-top: 20px
         text-align: center
         color: $white
      &_btn
         margin-top: 30px
         font-size: 13px
         line-height: 18px
         letter-spacing: 4%
         font-weight: 300
         padding: 10px 20px
         background-color: $mainColor
         box-shadow: 2px 3px 0 rgba($black, 0.3)
         transition: .3s ease
         &:hover
            background-color: darken($mainColor, 5)
         &:active
            position: relative
            top: 2px
            left: 3px
            box-shadow: 0 0 0 rgba($black, 0.3)



//MEDIA ===
@media ( max-width:$media-max-md )
   .about__left
      padding-left: 0
   .about__row
      display: block
   .about__item
      margin-top: 40px
@media ( max-width:$media-max-lg )
   .about
      &__body
         padding-top: 80px
         & .container
         margin: 0 auto
      &__left
         text-align: center
         &_box
            margin-top: 51px
            background-color: $white
            padding: 20px
            box-shadow: 2px 2px 0px rgba($grey, 0.5)
            font-weight: 400
      &__right
         margin-top: 40px
         text-align: center
         &_more
            margin: 30px 0 0 0
@media ( min-width:$media-min-lg )
   .about
      &__body
         padding-top: 80px
         & .container
            display: flex
            justify-content: space-between
      &__left
         flex-basis: 50%
         padding-left: 50px
         &_box
            margin-top: 51px
            max-width: 372px
            background-color: $white
            padding: 20px
            box-shadow: 2px 2px 0px rgba($grey, 0.5)
            font-weight: 400
         &_title
            max-width: 571px
      &__right
         flex-basis: 50%
         margin-left: 100px
         &_more
            margin: 77px 0 0 50px
         &_btn
            max-width: 251px 
//MEDIA ===
// ABOUT ============================
// FOOTER ============================
.footer
   background-color: $mainColor

.svg
   & path
// FOOTER ============================