ul, ol, p {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
}

html {
  height: 100%;
  color: #f7f7f7;
  font-size: 3vh;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.header {
  flex: 0 0 auto;
  background-color: #303030;
}

.main {
  flex: 1 0 auto;
  background-color: #303030;
  padding: 3vh 0;
}

.footer {
  flex: 0 0 auto;
  padding: 0 3vh 0 0;
  background-color: #303030;
}

.container {
  max-width: 1300px;
  margin: 0 auto 0 auto;
  padding: 0 20px 0 20px;
  text-align: center;
}

@media screen and (min-height: 1140px) {
  .container {
    max-width: none;
  }
}
.caption-title {
  font-size: 2.5rem;
  margin: 1vh 0;
  text-shadow: 1vh 1vh 2vh #0d0d0d;
}

.primary-title {
  font-size: 2rem;
  margin: 5vh 0;
  text-shadow: 1vh 1vh 2vh #0d0d0d;
}

@media (max-width: 575.98px) {
  .primary-title {
    margin: 6vh 0 2vh 0;
  }
}
.item-of-porfolio-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3vh 0;
}
.item-of-porfolio-list > img {
  height: 5vh;
  margin: 0 1vh;
}
.item-of-porfolio-list > p {
  margin: 0 1vh;
  text-shadow: 1vh 1vh 2vh #0d0d0d;
}

@media (max-width: 575.98px) {
  .item-of-porfolio-list {
    display: block;
  }
  .item-of-porfolio-list > img {
    height: 5vh;
    margin: 1vh 0;
  }
}
a {
  color: #f7f7f7;
}
a:hover {
  color: red;
}

.header {
  position: relative;
}
.header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.3vh;
  background-color: #666666;
  bottom: 0;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
}
.nav__link {
  display: block;
  padding: 3vh 2vh;
  position: relative;
  color: #f0f0f0;
  text-shadow: 3px 3px 8px #0d0d0d;
}
.nav__link::before {
  content: "";
  position: absolute;
  height: 0.3vh;
  width: 0;
  background-color: white;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.nav__link:hover::before {
  transition: width 0.5s;
  width: 100%;
}
.nav__link:hover {
  transition: background-color 0.2s;
  background-color: #282828;
}
.nav__link:active {
  background-color: #1c1c1c;
}

.main__box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 6vh;
}
.main__item_left {
  flex-basis: 60%;
}

.portfolio__box {
  margin: 0 30px;
}
.portfolio__box_item {
  margin: 5vh 0;
}
.portfolio__box_item:nth-child(1) {
  margin: 0 0 5vh 0;
}
.portfolio__box_item:nth-child(2n) {
  padding: 0 0 5vh 0;
  border-top: 0.2vh solid #666666;
  border-bottom: 0.2vh solid #666666;
}

.info {
  margin-bottom: 3vh;
}
.info__item {
  margin: 2vh 0;
}
.info__item_category {
  font-weight: 400;
}
.info__item_image > img {
  height: 40vh;
  border-radius: 5%;
  box-shadow: 0.3vh 0.5vh 0.3vh 0.3vh #171717;
}

.education_title {
  margin: 0 0 5vh 0;
}

@media (max-width: 575.98px) {
  .education_title {
    margin: 0 0 5vh 0;
  }
  .education__item > img {
    height: 8vh;
  }
}
.experience__item > p > a:hover {
  text-decoration: underline;
}

.skills__title {
  margin-bottom: 0;
}
.skills__box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.skills__item {
  flex-basis: 40%;
  margin: 2vh;
}
.skills__item_title {
  font-size: 1.5rem;
}
.skills__additional_item {
  padding: 2vh;
  position: relative;
  text-align: left;
  text-shadow: 1vh 1vh 2vh #0d0d0d;
}
.skills__additional_item::before {
  position: absolute;
  content: "";
  height: 0.1vh;
  width: 2vh;
  background-color: white;
  left: -2vh;
  top: 50%;
  transform: translate(0, -50%);
}

@media screen and (max-width: 992px) {
  .skills__box {
    display: block;
  }
}
.footer {
  border-top: 0.4vh solid white;
  background-color: #212121;
}

/*# sourceMappingURL=style.css.map */
