@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap')

h1, h2,
html, body, 
ul, p
	margin: 0
	padding: 0


ul
	list-style: none


button
	border: none
	background-color: transparent
	padding: 0
	margin: 0

*, *::before, *::after
	box-sizing: border-box
	

$font-primary: 'Oswald', sans-serif
$font-color-lighter: #5f5f5f
$font-color-primary: #444444
$font-color-white: #fff
$font-color-black-lighter: #2d2d2d
$font-color-black: #000
$font-color-light-green: #76C4BB
$font-color-dark-green: #3c5e46
$font-color-opacity-white: rgba(255, 255, 255, .77)
$color-green-lighter: #52755c

body
	font-family: $font-primary
	font-weight: 300
	font-size: 1rem

body, html
	height: 100%

.wrapper
	padding: 1rem 0
	height: 100%

	display: flex
	flex-direction: row
	justify-content: center
	align-items: center

.content-box
	display: flex
	align-items: flex-end
	justify-content: center
	position: relative

.container
	max-width: 120rem
	padding: 0 1rem
	margin: 0 auto

.content
	padding-top: 2rem 0

.login_btn
	cursor: pointer

.login_btn > span
	display: block

	letter-spacing: 0.05em
	font-size: 0.7rem
	font-family: $font-primary
	color: $font-color-lighter

.promo
	width: 50%

	margin-right: 4rem
	display: flex
	align-items: flex-end
	position: relative

	&__text-box
		position: absolute
		bottom: 5%
		left: 50%
		transform: translateX(-50%)

		background-color: $font-color-opacity-white
		
		padding: 2.5rem 2rem
			
		border-radius: 2.5rem 2.5rem 2.5rem 2.5rem

		width: 94%
	
		font-size: 2rem

	&__text-list
		margin-bottom: 2rem

	&__text-list_item
		padding-left: 1rem
		position: relative
		color: $font-color-primary

	&__text-list_item p
		letter-spacing: 1px
		line-height: 1.3em
		font-size: 1.7rem

	&__text
		color: $font-color-black-lighter
		font-size: 1.7rem
		line-height: 1.4em
		font-weight: bold

	&-img__box
		width: 100%
		border-radius: 1rem 1rem 1rem 1rem

	&-img
		width: 100%
		border-radius: 5%

	&__dot
		background-color: $font-color-primary
		margin-right: 0.5rem

.dot
	display: inline-block
	border-radius: 100%
	vertical-align: middle
	height: 0.3rem
	width: 0.3rem
		
.quiz
	width: 35%

	&__btn
		background-color: $font-color-dark-green
		cursor: pointer
		text-align: left

		width: 95%
		padding: 0.9rem 0 1rem
		padding-left: 25%
		margin-bottom: 1rem

		border-radius: 0.8em 0.8em 0.8em 0.8em

		font-size: 3.3rem
		line-height: 1.5em
		color: $font-color-white
		font-family: $font-primary
		font-weight: 300
		letter-spacing: 5px

		position: relative

		vertical-align: middle

		&::after
			content: url("../img/arrowInCircle.png")
			position: absolute
			right: 10%
			bottom: 0
			transform: scale(0.5) translateY(30%)

	&__subtitle
		letter-spacing: 1px
		margin-bottom: 2rem

		max-width: 24rem
	
		font-size: 0.9rem
		font-weight: 300
		color: $font-color-lighter
		letter-spacing: 1px
		
	&__subtitle > span
		font-weight: 900

	&__title
		color: $font-color-black-lighter
		font-size: 2rem
		margin-bottom: 3rem
		line-height: 1.2em
		max-width: 35rem
		font-weight: bold

	&__title .free-word
		color: $font-color-light-green

	&__text
		font-size: 0.9rem	
		max-width: 25rem
		color: $font-color-lighter
		letter-spacing: 1px

		margin-bottom: 2rem
		
	&__text > span
		font-weight: 900

	&-companies
		width: 75%

	&-companies__btn
		display: block
		cursor: pointer
		width: 100%
		padding: 1rem 0
		position: relative
		border: 2px solid  rgba($color-green-lighter, 0.4)
		border-radius: 1rem 1rem 1rem 1rem
		background-color: rgba($color-green-lighter, 0.5)

		&::before
			content: '' 
			background: url('../img/arrowDown.svg')
			width: 2rem
			height: 1.8rem
			position: absolute
			right: 50%
			transform: translateX(50%)
			bottom: 0
	
	&-companies__check
		display: none
	
		&:checked + .quiz-companies__btn
			transition: background 0.2s linear
			background-color: rgba($color-green-lighter, 0.6)
			
		&:checked + .quiz-companies__btn::before
			content: ''
			background: url('../img/arrowUp.svg')

		&:checked ~ .quiz-companies__img
			transition: opacity 0.3s ease
			opacity: 1
			margin-top: 0.5rem
			height: auto
			width: 100%

	&-companies__img
		transition: opacity 0.1s ease
		opacity: 0
		width: 0
		height: 0

	&-companies__img
		width: 100%

.login_btn
	position: absolute
	right: 1%
	top: 0

.login-register-link
	display: block
	
	font-size: 1.2rem
	color: $font-color-dark-green
	
	margin-left: 2rem
	margin-bottom: 5.5rem

.btn-screen-switch
	display: none

@media  ( max-width: 1600px  )
	.promo

		&__text-box
			padding: 2rem

		&__text-list
			margin-bottom: 1rem

		&__text > span
			font-size: 1.6rem

		&__text-list_item p
			font-size: 1.6rem

	.quiz
		
		&__btn
			padding: .8rem 0.8rem
			padding-left: 20%
			margin-bottom: 1rem
			font-size: 2.2rem

			&::after
				transform: scale(0.4) translateY(55%)

		&__subtitle
			font-size: 0.8rem
			margin-bottom: 1rem

		&__title
			max-width: 30rem
			font-size: 1.6rem
			margin-bottom: 2.8rem

		&__text
			font-size: 0.8rem
			margin-bottom: 1.8rem

		&-companies__btn::after
			width: 80%

	.login-register-link
		margin-bottom: 3rem
		font-size: 1rem

@media  ( max-width: 1310px  )

	.promo
		width: 50%
		margin-right: 4rem

		&__text-box
			text-align: left

		&__text-list
			margin-bottom: 1rem

		&__text-list_item
			padding-left: 1rem
			position: relative
			color: $font-color-primary

		&__text-list_item > p
			letter-spacing: 1px
			font-size: 1.4rem
			line-height: 1.3em

		&__text
			font-size: 1.4rem
			line-height: 1.3em

	.quiz

		&__title
			font-size: 1.3rem
			line-height: 1.5rem
		&__btn 
			font-size: 1.5rem

			&::after
				transform: scale(0.3) translateY(100%)
				
		&__text
			font-size: .7rem

		&__subtitle
			font-size: .7rem

			& > span
				font-size: .7rem

@media (max-width: 1130px)
	.promo
		margin-right: 3rem

		&__text-list
			margin-bottom: 1rem

		&__text-list_item
			padding-left: 0.6rem
			position: relative
			color: $font-color-primary

		&__text-list_item > p
			letter-spacing: 1px
			font-size: 1.2rem
			line-height: 1.3em

		&__text
			font-size: 1.2rem
			line-height: 1.3em

	.quiz

		&__title
			font-size: 1.2rem
			line-height: 1.5rem
			margin-bottom: 1.5rem
		&__btn 
			font-size: 1.3rem
			padding-left: 25%

			&::after
				right: 2%
				transform: scale(0.3) translateY(100%)
				
		&__text
			font-size: .6rem
			margin-bottom: 1.3rem

		&__subtitle
			font-size: .6rem

			& > span
				font-size: .6rem

	.login-register-link
		margin-bottom: 1.8rem

	.login_btn > span
		font-size: 0.5rem

	.login_btn > svg 
		width: 1.5rem
		height: 1.5rem

		& > image
			width: 1.2rem

			&:first-child
				x: 2px
			
		& > image:last-child
			height: 0.55rem	
				


@media ( max-width: 960px )
	.login_btn
		top: -3.5rem

	.btn-screen-switch
		display: block
		position: absolute
		z-index: 100
		
		bottom: 1.5rem
		left: 50%
		transform: translateX(-50%)

		border-radius: 100%
		box-shadow: 0.05rem 0.05rem 2rem 0 rgba($color-green-lighter, 0.5)
		
		padding: 1.5rem

		background-color: rgba($color-green-lighter, 0.3)

		&::after
			content: ''
			background: url('../img/arrowRightSwitcher.svg')
			position: absolute
			top: 50%
			right: 50%
			width: 2rem
			height: 2rem
			transform: translate(50%, -50%)

		&:active
			transition: background 0.2s linear
			background-color: rgba($color-green-lighter, 0.5)

	.promo
		margin: 0 auto
		width: 60%

	.quiz
		width: 33%
		margin: 0 auto
		text-align: center
		display: none

		&__title
			font-size: 1.1rem
			line-height: 1.5rem
			margin-bottom: 1.5rem

		&__btn 
			font-size: 1.2rem
			padding-left: 24%

			&::after
				right: 0
				transform: scale(0.2) translateY(143%)
				
		&__text
			font-size: .6rem
			margin-bottom: 1.3rem

		&__subtitle
			font-size: .6rem

			& > span
				font-size: .6rem

		&-companies
			width: 100%

		&-companies__check:checked ~ .quiz-companies__img
			height: 2rem

	.login-register-link
		font-size: 0.9rem
		margin-left: 0
		margin-right: 0
		margin-bottom: 1.5rem

@media ( max-width: 840px )
	.quiz
		width: 40%

@media ( max-width: 705px )
	.quiz
		width: 45%

	.promo
		width: 70%

@media ( max-width: 630px )
	.quiz
		width: 60%

@media ( max-width: 560px )
	.promo
		width: 90%

@media ( max-width: 480px )
	.quiz
		width: 80%

@media ( max-width: 480px )
	.promo
		width: 100%

@media ( max-width: 406px )
	.promo
		&__text-list
			margin-bottom: 1rem

		&__text-list_item
			padding-left: 0.4rem

		&__text-list_item > p
			letter-spacing: 1px
			font-size: 1rem
			line-height: 1.3em

		&__text
			font-size: 1rem
			line-height: 1.3em

@media ( max-width: 370px )
	.quiz
		width: 100%

	.promo
		&__text-box
			padding: 1.5rem

		&__text-list
			margin-bottom: 0.7rem

		&__text-list_item
			padding-left: 0.4rem

		&__text-list_item > p
			letter-spacing: 1px
			font-size: 0.8rem
			line-height: 1.3em

		&__text
			font-size: 0.8rem
			line-height: 1.3em

@media (max-width: 280px)
	.quiz
		&__btn 
			font-size: 1.2rem
			padding-left: 18%

			&::after
				right: 0
				transform: scale(0.2) translateY(143%)

	.promo
		&__text-box
			padding: 1rem

.screen_off
	display: none
	opacity: 0

.screen_on
	display: block
	opacity: 1
