@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");
h1, h2,
html, body,
ul, p {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 1rem; }

body, html {
  height: 100%; }

.wrapper {
  padding: 1rem 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }

.container {
  max-width: 120rem;
  padding: 0 1rem;
  margin: 0 auto; }

.login_btn {
  cursor: pointer; }

.login_btn > span {
  display: block;
  letter-spacing: 0.05em;
  font-size: 0.7rem;
  font-family: "Oswald", sans-serif;
  color: #5f5f5f; }

.promo {
  width: 50%;
  margin-right: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative; }
  .promo__text-box {
    position: absolute;
    bottom: 5%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.77);
    padding: 2.5rem 2rem;
    border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;
    width: 94%;
    font-size: 2rem; }
  .promo__text-list {
    margin-bottom: 2rem; }
  .promo__text-list_item {
    padding-left: 1rem;
    position: relative;
    color: #444444; }
  .promo__text-list_item p {
    letter-spacing: 1px;
    line-height: 1.3em;
    font-size: 1.7rem; }
  .promo__text {
    color: #2d2d2d;
    font-size: 1.7rem;
    line-height: 1.4em;
    font-weight: bold; }
  .promo-img__box {
    width: 100%;
    border-radius: 1rem 1rem 1rem 1rem; }
  .promo-img {
    width: 100%;
    border-radius: 5%; }
  .promo__dot {
    background-color: #444444;
    margin-right: 0.5rem; }

.dot {
  display: inline-block;
  border-radius: 100%;
  vertical-align: middle;
  height: 0.3rem;
  width: 0.3rem; }

.quiz {
  width: 35%; }
  .quiz__btn {
    background-color: #3c5e46;
    text-align: left;
    cursor: pointer;
    width: 95%;
    padding: 0.9rem 0 1rem;
    padding-left: 25%;
    margin-bottom: 1rem;
    border-radius: 0.8em 0.8em 0.8em 0.8em;
    font-size: 3.3rem;
    line-height: 1.5em;
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    letter-spacing: 5px;
    position: relative;
    vertical-align: middle; }
    .quiz__btn:hover {
      -webkit-transition: -webkit-transform 0.3s linear;
      transition: -webkit-transform 0.3s linear;
      -o-transition: transform 0.3s linear;
      transition: transform 0.3s linear;
      transition: transform 0.3s linear, -webkit-transform 0.3s linear;
      -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
              transform: scale(1.05); }
    .quiz__btn::after {
      content: url("../img/arrowInCircle.png");
      position: absolute;
      right: 10%;
      bottom: 0;
      -webkit-transform: scale(0.5) translateY(30%);
          -ms-transform: scale(0.5) translateY(30%);
              transform: scale(0.5) translateY(30%); }
  .quiz__subtitle {
    letter-spacing: 1px;
    margin-bottom: 2rem;
    max-width: 24rem;
    font-size: 0.9rem;
    font-weight: 300;
    color: #5f5f5f;
    letter-spacing: 1px; }
  .quiz__subtitle > span {
    font-weight: 900; }
  .quiz__title {
    color: #2d2d2d;
    font-size: 2rem;
    margin-bottom: 3rem;
    line-height: 1.2em;
    max-width: 35rem;
    font-weight: bold; }
  .quiz__title .free-word {
    color: #76C4BB; }
  .quiz__text {
    font-size: 0.9rem;
    max-width: 25rem;
    color: #5f5f5f;
    letter-spacing: 1px;
    margin-bottom: 2rem; }
  .quiz__text > span {
    font-weight: 900; }
  .quiz-companies {
    display: block;
    width: 75%;
    position: relative; }
  .quiz-companies_click {
    border: 1px solid #52755c;
    border-radius: 1rem 1rem 1rem 1rem;
    background: #d9d9d9;
    padding: 0.5rem;
    font-size: 0;
    -webkit-animation: companiesCallToClick linear 0.8s 0.5s 3;
            animation: companiesCallToClick linear 0.8s 0.5s 3; }
  .quiz-companies__img {
    cursor: pointer;
    width: 100%; }
  .quiz-popup {
    display: none;
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
    position: absolute;
    top: -200%;
    right: -1000%;
    width: 100%;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
    padding: 1rem;
    border: 1px solid #3c5e46;
    border-radius: 1rem 1rem 1rem 1rem;
    background-color: #fff;
    z-index: 100; }
    .quiz-popup__btn-box {
      margin-top: 1rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .quiz-popup__btn {
      font-family: #fff;
      border: 1px solid #3c5e46;
      padding: 0.5rem;
      border-radius: 1rem 1rem 1rem 1rem;
      display: block;
      cursor: pointer; }
      .quiz-popup__btn:hover {
        -webkit-transition: background 0.3s linear;
        -o-transition: background 0.3s linear;
        transition: background 0.3s linear;
        background-color: #83b090; }
    .quiz-popup__link {
      display: block;
      color: #000;
      text-decoration: none; }
      .quiz-popup__link:hover {
        -webkit-transition: -webkit-transform 0.3s ease;
        transition: -webkit-transform 0.3s ease;
        -o-transition: transform 0.3s ease;
        transition: transform 0.3s ease;
        transition: transform 0.3s ease, -webkit-transform 0.3s ease;
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1); }
  .quiz-popup_show {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block; }

.login_btn {
  position: absolute;
  right: 1%;
  top: 0; }

.login-register-link {
  display: block;
  font-size: 1.2rem;
  color: #3c5e46;
  margin-left: 2rem;
  margin-bottom: 5.5rem; }

@media (max-width: 1600px) {
  .promo__text-box {
    padding: 2rem; }
  .promo__text-list {
    margin-bottom: 1rem; }
  .promo__text > span {
    font-size: 1.6rem; }
  .promo__text-list_item p {
    font-size: 1.6rem; }

  .quiz__btn {
    padding: 0.8rem 0.8rem;
    padding-left: 20%;
    margin-bottom: 1rem;
    font-size: 2.2rem; }
    .quiz__btn::after {
      -webkit-transform: scale(0.4) translateY(55%);
          -ms-transform: scale(0.4) translateY(55%);
              transform: scale(0.4) translateY(55%); }
  .quiz__subtitle {
    font-size: 0.8rem;
    margin-bottom: 1rem; }
  .quiz__title {
    max-width: 30rem;
    font-size: 1.6rem;
    margin-bottom: 2.8rem; }
  .quiz__text {
    font-size: 0.8rem;
    margin-bottom: 1.8rem; }

  .login-register-link {
    margin-bottom: 3rem;
    font-size: 1rem; } }
@media (max-width: 1310px) {
  .promo {
    width: 50%;
    margin-right: 4rem; }
    .promo__text-box {
      text-align: left; }
    .promo__text-list {
      margin-bottom: 1rem; }
    .promo__text-list_item {
      padding-left: 1rem;
      position: relative;
      color: #444444; }
    .promo__text-list_item > p {
      letter-spacing: 1px;
      font-size: 1.4rem;
      line-height: 1.3em; }
    .promo__text {
      font-size: 1.4rem;
      line-height: 1.3em; }

  .quiz__title {
    font-size: 1.3rem;
    line-height: 1.5rem; }
  .quiz__btn {
    font-size: 1.5rem; }
    .quiz__btn::after {
      -webkit-transform: scale(0.3) translateY(100%);
          -ms-transform: scale(0.3) translateY(100%);
              transform: scale(0.3) translateY(100%); }
  .quiz__text {
    font-size: 0.7rem; }
  .quiz__subtitle {
    font-size: 0.7rem; }
    .quiz__subtitle > span {
      font-size: 0.7rem; } }
@media (max-width: 1158px) {
  .quiz-popup__text {
    font-size: 0.8rem; }

  .quiz-popup__link {
    font-size: 0.8rem; }

  .quiz-popup__btn {
    font-size: 0.8rem; } }
@media (max-width: 1130px) {
  .promo {
    margin-right: 3rem; }
    .promo__text-list {
      margin-bottom: 1rem; }
    .promo__text-list_item {
      padding-left: 0.6rem;
      position: relative;
      color: #444444; }
    .promo__text-list_item > p {
      letter-spacing: 1px;
      font-size: 1.2rem;
      line-height: 1.3em; }
    .promo__text {
      font-size: 1.2rem;
      line-height: 1.3em; }

  .quiz__title {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem; }
  .quiz__btn {
    font-size: 1.3rem;
    padding-left: 25%; }
    .quiz__btn::after {
      right: 2%;
      -webkit-transform: scale(0.3) translateY(100%);
          -ms-transform: scale(0.3) translateY(100%);
              transform: scale(0.3) translateY(100%); }
  .quiz__text {
    font-size: 0.6rem;
    margin-bottom: 1.3rem; }
  .quiz__subtitle {
    font-size: 0.6rem; }
    .quiz__subtitle > span {
      font-size: 0.6rem; }

  .login-register-link {
    margin-bottom: 1.8rem; }

  .login_btn > span {
    font-size: 0.7rem; }

  .login_btn > svg {
    width: 1.5rem;
    height: 1.5rem; }
    .login_btn > svg > image {
      width: 1.2rem; }
      .login_btn > svg > image:first-child {
        x: 2px; }
    .login_btn > svg > image:last-child {
      height: 0.55rem; } }
@media (max-width: 960px) {
  .promo {
    margin: 0 auto;
    margin-top: 1rem;
    width: 60%; }

  .quiz {
    width: 33%;
    margin: 0 auto;
    text-align: center; }
    .quiz__title {
      font-size: 1.1rem;
      line-height: 1.5rem;
      margin-bottom: 1.5rem; }
    .quiz__btn {
      font-size: 1.2rem;
      padding-left: 24%; }
      .quiz__btn::after {
        right: 0;
        -webkit-transform: scale(0.2) translateY(143%);
            -ms-transform: scale(0.2) translateY(143%);
                transform: scale(0.2) translateY(143%); }
    .quiz__text {
      font-size: 0.6rem;
      margin-bottom: 1.3rem; }
    .quiz__subtitle {
      font-size: 0.6rem; }
      .quiz__subtitle > span {
        font-size: 0.6rem; }
    .quiz-companies {
      width: 100%; }

  .login-register-link {
    font-size: 0.9rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.5rem; } }
@media (max-width: 840px) {
  .login_btn {
    top: -9%;
    right: 15%;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%); }
    .login_btn svg {
      display: none; }

  .login_btn > span {
    font-size: 1.5rem; }

  .content-box {
    height: 100%;
    display: block; }

  .quiz__text,
  .login-register-link {
    display: none; }

  .quiz {
    width: 40%; } }
@media (max-width: 840px) and (max-height: 700px) {
  .quiz__subtitle {
    display: none; } }
@media (max-width: 840px) and (max-height: 580px) {
  .promo__text-list_item:first-child {
    display: none; }

  .promo__text-box {
    padding: 1.5rem !important; }

  .promo {
    width: 90% !important; } }
@media (max-width: 705px) {
  .quiz {
    width: 45%; }

  .promo {
    width: 70%; } }
@media (max-width: 630px) {
  .quiz {
    width: 60%; } }
@media (max-width: 560px) {
  .promo {
    width: 90%; } }
@media (max-width: 480px) {
  .quiz {
    width: 80%; } }
@media (max-width: 480px) {
  .promo {
    width: 100%; } }
@media (max-width: 406px) {
  .promo__text-list {
    margin-bottom: 1rem; }
  .promo__text-list_item {
    padding-left: 0.4rem; }
  .promo__text-list_item > p {
    letter-spacing: 1px;
    font-size: 1rem;
    line-height: 1.3em; }
  .promo__text {
    font-size: 1rem;
    line-height: 1.3em; } }
@media (max-width: 370px) {
  .quiz {
    width: 100%; }

  .promo__text-box {
    padding: 1.5rem; }
  .promo__text-list {
    margin-bottom: 0.7rem; }
  .promo__text-list_item {
    padding-left: 0.4rem; }
  .promo__text-list_item > p {
    letter-spacing: 1px;
    font-size: 0.8rem;
    line-height: 1.3em; }
  .promo__text {
    font-size: 0.8rem;
    line-height: 1.3em; } }
@media (max-width: 280px) {
  .quiz__btn {
    font-size: 1.2rem;
    padding-left: 18%; }
    .quiz__btn::after {
      right: 0;
      -webkit-transform: scale(0.2) translateY(143%);
          -ms-transform: scale(0.2) translateY(143%);
              transform: scale(0.2) translateY(143%); }

  .promo__text-box {
    padding: 1rem; } }